/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.progressToastIcon {
	width: 20px;
	height: 20px;
}

.collectionCompleteIcon {
	composes: progressToastIcon;
	color: var(--mds-color-foreground-success-on-surface);
}

.tutorialCompleteIcon {
	composes: progressToastIcon;
	color: var(--mds-color-foreground-faint);
}
