.root {
	align-items: center;
	border-radius: 50px;
	border: 1px solid var(--token-color-border-strong);
	display: flex;
	width: fit-content;
}

.removeButton {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	background-color: transparent;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border: none;
	padding: 6px 2px 6px 8px;
	width: fit-content;

	&:hover {
		background-color: var(--token-color-surface-interactive-hover);
		cursor: pointer;
	}

	&:active {
		background-color: var(--token-color-surface-interactive-active);
	}
}

.removeIcon {
	color: var(--token-color-foreground-primary);
	display: flex;
	height: 12px;
	width: 12px;
}

.text {
	/* composition */
	composes: hds-font-weight-medium from global;

	/* properties */
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	color: var(--token-color-foreground-primary);
	display: block;
	font-family: var(--token-typography-body-100-font-family);
	font-size: var(--token-typography-body-100-font-size);
	line-height: 1rem;
	padding: 3px 8px 5px 6px;
	white-space: nowrap;
}
