.root {
	align-items: center;
	border-radius: 50px;
	border: 1px solid var(--token-color-border-strong);
	display: flex;
	width: fit-content;
	min-height: 1.5rem;
}

.removeButton {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	align-items: center;
	align-self: stretch;
	background-color: transparent;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border: none;
	display: flex;
	line-height: 1.5rem;
	padding-bottom: 0;
	padding-left: 8px;
	padding-right: 2px;
	padding-top: 0;
	width: fit-content;

	&:hover {
		background-color: var(--token-color-surface-interactive-hover);
		cursor: pointer;
	}

	&:active {
		background-color: var(--token-color-surface-interactive-active);
	}
}

.removeIcon {
	color: var(--token-color-foreground-primary);
	display: flex;
	height: 12px;
	width: 12px;
}

.text {
	/* composition */
	composes: hds-font-weight-medium from global;

	/* properties */
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	color: var(--token-color-foreground-primary);
	display: block;
	font-family: var(--token-typography-body-100-font-family);
	font-size: var(--token-typography-body-100-font-size);
	line-height: calc(1.5rem - 1px);
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 8px;
	white-space: nowrap;
}
