/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	margin-left: auto;
	margin-right: auto;
	max-width: 1240px;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}
