.root {
	margin-bottom: 24px;
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
	}
}

.label {
	composes: hds-typgraphy-body-200 from global;
	composes: hds-font-weight-semibold from global;
	color: var(--token-color-foreground-strong);
	margin-bottom: 8px;
	display: block;
}

.list {
	list-style: none;
	margin: 0;
	background: var(--token-color-surface-faint);
	border: 1px solid var(--token-color-border-faint);
	border-radius: 6px;
	padding: 8px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

/** 
* 🏴‍☠️ Style overrides here
* These adjustments to the border and background colors for
* secondary button link styles are due to the elements appearing
* in the container with the surface-faint background color.
*/
.linkOverrides {
	&:hover:not(:disabled),
	&:active:not(:disabled),
	&:focus,
	&:focus-visible {
		text-decoration: none;
	}
}

.secondaryLinkOverrides {
	background-color: var(--token-color-surface-primary);
	border-color: var(--token-color-border-primary);

	&:hover:not(:disabled),
	&:active:not(:disabled),
	&:focus,
	&:focus-visible {
		border-color: var(--token-color-border-primary);
	}

	&:hover:not(:disabled) {
		background-color: var(--token-color-surface-interactive-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--token-color-surface-interactive-active);
	}
}
