.root {
	--total-text-to-edge-spacing: 100px;
	--page-padding-left-right: 40px;
	--page-padding-top: 220px;
	--section-padding-left-right: calc(
		var(--total-text-to-edge-spacing) - var(--page-padding-left-right)
	);

	padding-left: var(--page-padding-left-right);
	padding-right: var(--page-padding-left-right);
	padding-top: var(--page-padding-top);

	/* 1440px and below */
	@media only screen and (max-width: 1440px) {
		--page-padding-top: 148px;
	}

	/* 1000px and below */
	@media (--dev-dot-tablet-down) {
		--section-padding-left-right: 0;
		--page-padding-top: 124px;
	}

	/* 425px and below */
	@media only screen and (max-width: 425px) {
		--page-padding-left-right: 20px;
		--page-padding-top: 40px;
	}
}

.pageHero {
	--page-hero-max-width: 70%;

	border: 1px solid green;
	max-width: var(--page-hero-max-width);

	/* 1000px and below */
	@media (--dev-dot-tablet-down) {
		--page-hero-max-width: 90%;
	}

	/* 425px and below */
	@media only screen and (max-width: 425px) {
		--page-hero-max-width: 100%;
	}
}

.section {
	border: 1px solid magenta;
	padding-left: var(--section-padding-left-right);
	padding-right: var(--section-padding-left-right);
	max-width: calc(1240px + 2 * var(--section-padding-left-right));
	margin: 0 auto;
}

.productSection {
	padding-bottom: 120px;
	padding-top: 120px;
}

.contentTypesSection {
	background-color: pink;
}

.crossProductSectionWrapper {
	padding-left: 0;
	padding-right: 0;
}

.crossProductSection {
	--cross-product-section-padding-left-right: var(--section-padding-left-right);

	padding-left: var(--cross-product-section-padding-left-right);
	padding-right: var(--cross-product-section-padding-left-right);

	/* 1000px and below */
	@media (--dev-dot-tablet-down) {
		--cross-product-section-padding-left-right: 40px;
	}
}
