.root {
	--padding-left-right: 56px;
	--text-max-width: 1240px;

	padding-bottom: 120px;
}

.section {
	margin: 0 auto;
	max-width: calc(var(--text-max-width) + 2 * var(--padding-left-right));
}

.pageHero {
	padding-left: var(--padding-left-right);
	padding-right: var(--padding-left-right);
	max-width: 70%;
	margin-top: 200px;
	margin-bottom: 200px;
}

.productSection {
	margin-bottom: 96px;
	margin-top: 96px;
	padding-bottom: 48px;
	padding-left: var(--padding-left-right);
	padding-right: var(--padding-left-right);
	padding-top: 48px;
}

.contentTypesSectionWrapper {
	background-color: var(--token-color-page-faint);
	margin-bottom: 164px;
	margin-top: 164px;
	padding-bottom: 120px;
	padding-top: 88px;
}

.contentTypesSection {
	padding-left: var(--padding-left-right);
	padding-right: var(--padding-left-right);
}

.crossProductSection {
	padding-bottom: 64px;
	padding-left: var(--padding-left-right);
	padding-right: var(--padding-left-right);
	padding-top: var(--padding-left-right);
}
