.heading {
	composes: hds-typography-display-300 from global;
	composes: g-offset-scroll-margin-top from global;
	color: var(--token-color-foreground-strong);
	font-weight: var(--token-typography-font-weight-bold);
}

.subheading {
	composes: hds-typography-body-300 from global;
	color: var(--token-color-foreground-primary);
	font-weight: var(--token-typography-font-weight-regular);
	margin-top: 4px;
}

.children {
	margin-top: 16px;
}
