/*
Not inheriting font color, weight, or size since they can be different than the
ones set in the surrounding text.
*/
.root {
  border-radius: 5px;
  color: var(--token-color-action-foreground-on-faint);
  cursor: pointer;
  text-decoration: underline;

  &:active {
    color: var(--token-color-action-foreground-high-contrast);
  }

  &:focus {
    outline: none;
  }

  /*
  Not styling ::before with position: absolute and -5px positions because that
  does not work on links that span more than one line.
  */
  &:focus-visible {
    box-shadow: var(--token-focus-ring-box-shadow);
    margin: -5px;
    outline: none;
    padding: 5px;
    text-decoration: none;
  }

  &:hover {
    color: var(--token-color-action-background-active);
  }

  &:visited {
    color: var(--token-color-highlight-foreground-on-faint);
  }
}
