.overviewWrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.heading {
	composes: hds-typography-display-600 from global;
	font-weight: var(--token-typography-font-weight-bold);
	color: var(--token-color-foreground-strong);
	margin: 0 0 9px 0;
}

.icon {
	margin-top: 3px;
}

.releaseStageBadge {
	margin-top: 13px;
	text-transform: capitalize;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@media (--dev-dot-desktop) {
		flex-direction: row;
		justify-content: space-between;
	}

	@media screen and (min-width: 1440px) {
		gap: 64px;
	}
}

.variablesForm {
	flex: 1;
}
