.overviewWrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.heading {
	composes: hds-typography-display-600 from global;
	font-weight: var(--token-typography-font-weight-bold);
	color: var(--token-color-foreground-strong);
	margin: 0 0 9px 0;
}

.icon {
	margin-top: 3px;
}

.releaseStageBadge {
	margin-top: 13px;
	text-transform: capitalize;
}

.content {
	composes: hds-typography-body-300 from global;
	color: var(--token-color-foreground-primary);
	display: flex;
	flex-direction: column;
	gap: 32px;

	& p {
		margin: 0;
	}

	@media (--dev-dot-desktop) {
		flex-direction: row;
		justify-content: space-between;
	}

	@media screen and (min-width: 1440px) {
		gap: 64px;
	}
}

.overviewAndResources {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contentHeading {
	composes: hds-typography-display-400 from global;
	font-weight: var(--token-typography-font-weight-bold);
	color: var(--token-color-foreground-strong);
	margin: 0 0 8px 0;
}

.resourceList {
	list-style: none;
	margin: 16px 0 0 0;
	padding: 0;
}

.resourceLink {
	& a {
		color: var(--token-color-foreground-strong);
		font-weight: var(--token-typography-font-weight-semibold);
	}

	&:not(:last-child) {
		margin-bottom: 12px;
	}
}

.variablesForm {
	flex: 1;
}
