.productNav {
  --background-color: var(--token-color-palette-neutral-700);

  position: relative;
}

.notice {
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--background-color);

  @media (--dev-dot-tablet-up) {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: transparent;
  }
}

.noticeText {
  margin: 0 auto;
  padding: 0;
  width: var(--homepage-container-width);
  color: var(--token-color-palette-neutral-400);
}

.nav {
  position: relative;
  padding: 0 var(--padding-x);
  background-image: linear-gradient(
    to bottom,
    var(--background-color) 24px,
    var(--token-color-palette-neutral-0) 24px
  );
}

.list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: var(--homepage-container-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--homepage-grid-gap);
  border-radius: 6px;

  @media (--dev-dot-tablet-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--dev-dot-desktop) {
    display: flex;
    gap: 0;
    box-shadow: var(--token-surface-base-box-shadow);
    background: var(--token-color-surface-primary);
  }
}

.listItem {
  position: relative;
  flex: 1;
}

.product {
  position: relative;
  display: grid;
  place-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 6px;
  background-color: var(--token-color-surface-primary);
  color: var(--token-color-foreground-disabled);
  box-shadow: var(--token-surface-base-box-shadow);
  overflow: hidden;

  @media (--dev-dot-desktop) {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;

    &.isFirstChild,
    &.isFirstChild::after {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &.isLastChild,
    &.isLastChild::after {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &[href] {
    color: var(--token-color-foreground-strong);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      height: 100%;
      border-bottom: 4px solid var(--border-color);
      transition: all 0.1s;

      &.isFirstChild {
        border-bottom-left-radius: 6px;
      }

      &.isLastChild {
        border-bottom-right-radius: 6px;
      }
    }

    &:hover {
      z-index: 1;
      box-shadow: var(--token-surface-high-box-shadow);

      @media (--dev-dot-desktop) {
        box-shadow: none;

        &::after {
          box-shadow: var(--token-surface-high-box-shadow);
          height: calc(100% + 4px);
        }

        &:not(.isFirstChild)::after {
          border-bottom-left-radius: 4px;
        }

        &:not(.isLastChild)::after {
          border-bottom-right-radius: 4px;
        }
      }
    }

    &:focus {
      z-index: 1;
    }
  }
}

.productName {
  display: block;
  margin-top: 10px;
}
