.itemTitle {
  font-size: 14px;
  color: var(--token-color-foreground-strong);
  font-weight: var(--font-weight-semi-bold);

  & mark {
    color: var(--token-color-foreground-action);
    background: transparent;
  }
}

.itemDescription {
  color: var(--token-color-foreground-faint);
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  & mark {
    color: var(--token-color-foreground-action);
    background: transparent;
  }
}
