.formWrapper {
	width: 100%;
}

.form {
	/* 
    The following styles allow us to place the form button alongside the email field in the first
    row. 
  */

	display: grid;
	width: 100%;
	row-gap: var(--wpl-spacing-02);

	& [data-field-id='Email'],
	& [data-field-id='Consent_Privacy_Policy__c'] {
		margin: 0;
	}

	& [data-field-id='Email'] label {
		display: none;
	}

	& button {
		justify-self: stretch;
		align-self: start;
	}

	@media (min-width: 768px) {
		grid-template-columns: 1fr max-content;
		column-gap: var(--wpl-spacing-03);
		transition: opacity 0.35s;

		& [data-field-id='Email'] {
			grid-column: 1 / 2;
			word-break: break-all;
		}

		& button {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
		}

		& [data-field-id='Consent_Privacy_Policy__c'] {
			grid-row: 2 / 3;
			grid-column: 1 / -1;
		}
	}

	/* 
    This applies styles to the form when rendered on a dark background (e.g. the form in the global footer).
    This should be removed / replaced when dark mode is enabled for <MarketoForm />
  */

	&.footer {
		& [data-field-id='Email'] input {
			border-color: var(--gray-2);
			background: var(--gray-1);
			color: var(--gray-5);
		}

		& [data-field-id='Consent_Privacy_Policy__c'] {
			& input {
				background: var(--gray-2);
				border-color: var(--gray-1);
				color: var(--gray-5);
				transition: border 0.2s;

				&:hover {
					border-color: var(--brand);
				}
			}

			& span {
				color: var(--gray-5);
			}
		}

		& button[disabled] {
			background-color: hsla(0, 0%, 100%, 0.16);

			& span {
				color: hsla(0, 0%, 100%, 0.24);
			}
		}
	}
}
