.root {
	width: 100%;
	background: var(--black);
	color: var(--white);
	border-radius: 5px;
	display: flex;
	position: relative;
	overflow: hidden;
	box-shadow: var(--token-elevation-mid-box-shadow);
	cursor: pointer;

	&:hover {
		box-shadow: var(--token-elevation-high-box-shadow);

		& .ctaWrapper svg {
			transform: translateX(4px);
		}
	}

	& .textContainer {
		padding: 16px 22px;
	}

	& .subHeading {
		margin: 6px 0 16px;
	}
}

.ctaWrapper {
	composes: g-focus-ring-from-box-shadow from global;
	align-items: center;
	display: flex;
	gap: 6px;

	& .ctaText {
		font-size: var(--token-typography-body-200-font-size);
		font-weight: var(--token-typography-font-weight-medium);
		line-height: 1rem;
		color: var(--white);
	}

	& svg {
		transition: 0.2s ease-in;
	}
}

.solutionGradient {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.solutionPattern {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
		position: absolute;
		right: -76px;
		bottom: 0;
		width: 330px;
		min-height: 100%;
	}
}

.link {
	position: absolute;
	inset: 0;
	opacity: 0;
}
