.mobileMenuContainer {
	padding: 24px;
	z-index: 4;
}

.levelButtons {
	display: flex;
	margin-bottom: 12px;
}

.levelUpButton {
	margin-right: auto;
}

.levelDownButton {
	margin-left: auto;
}

.listResetStyles {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.heading {
	color: var(--token-color-foreground-primary);
	font-size: var(--token-typography-display-100-font-size);
	font-weight: var(--token-typography-font-weight-semibold);
	line-height: var(--token-typography-display-100-line-height);
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	margin-bottom: 12px;
}
