.root {
	--permalink-opacity: 0;

	/* border: 1px solid magenta; */
	display: flex;
	gap: 8px;
	align-items: center;

	&:hover {
		--permalink-opacity: 1;
	}
}

.permalink {
	--icon-color: var(--token-color-foreground-action);

	composes: g-focus-ring-from-box-shadow from global;
	border-radius: 6px;
	display: flex;
	opacity: var(--permalink-opacity);
	padding: 4px;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.2s ease;
	}

	&:hover {
		--icon-color: var(--token-color-foreground-action-hover);

		opacity: 1;
		box-shadow: var(--token-surface-mid-box-shadow);
	}

	&:focus-visible {
		--icon-color: var(--token-color-foreground-action-active);

		opacity: 1;
		background: var(--token-color-surface-faint);
	}
}

.permalinkIcon {
	color: var(--permalink-icon-color);
}
