.contentHeaderCard {
	padding: 0;

	& .cardTop {
		padding: 16px;
		display: flex;

		& .icon {
			margin-right: 12px;
		}

		& .left {
			& .titleWrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				@media (--dev-dot-tablet-up) {
					margin-top: 0;
					flex-wrap: unset;
				}

				& .title {
					color: var(--token-color-foreground-strong);
				}

				& .attribution {
					color: var(--token-color-foreground-faint);
					margin-left: 4px;
				}
			}

			& .description {
				margin-top: 2px;
				color: var(--token-color-foreground-primary);
			}
		}
	}

	& .cardBottom {
		padding: 12px 16px;
		background: var(--token-color-surface-faint);

		/* This is the color from --token-surface-base-box-shadow,
    which the color value from it is not in a variable alone */
		border-top: 1px solid rgba(101, 106, 118, 0.2);
		border-radius: 0 0 6px 6px;
	}
}
