.content {
	height: 100%;
	max-height: 396px;
	max-width: 820px;
	overflow-y: auto;
	padding: 0;

	@media (--dev-dot-mobile) {
		max-height: unset;
	}
}

.contentInner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	align-items: center;
	background-color: var(--token-color-surface-primary);
	border-bottom: 1px solid var(--token-color-border-primary);
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	gap: 8px;
	padding: 12px;
}

.icon {
	display: flex;
	flex-shrink: 0;

	& svg {
		color: var(--token-color-foreground-primary);
	}
}

.headerTags {
	display: flex;
	align-items: center;
	gap: 4px;
}

.inputWrapper {
	position: relative;
	width: 100%;
}

.input {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	appearance: none;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	color: var(--token-color-foreground-strong);
	font-family: var(--token-typography-body-300-font-family);
	font-size: var(--token-typography-body-300-font-size);
	font-weight: var(--token-typography-font-weight-medium);
	line-height: var(--token-typography-body-300-line-height);
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 36px;
	width: 100%;

	&::placeholder {
		color: var(--token-color-foreground-faint);
		font-family: var(--token-typography-body-300-font-family);
		font-size: var(--token-typography-body-300-font-size);
		font-weight: var(--token-typography-font-weight-medium);
		line-height: var(--token-typography-body-300-line-height);
	}
}

.clearButtonWrapper {
	align-items: center;
	bottom: 0;
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
}

.clearButton {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	padding: 4px;
	border-radius: 5px;

	& svg {
		color: var(--token-color-foreground-primary);
	}

	&:hover {
		cursor: pointer;
	}
}

.badges {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	gap: 4px;
}

.body {
	background-color: var(--token-color-surface-primary);
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;
}

.footer {
	align-items: center;
	background-color: var(--token-color-surface-primary);
	box-shadow: var(--token-surface-base-box-shadow);
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	gap: 16px;
	justify-content: space-between;
	min-height: 52px;
	padding: 16px;

	@media (--dev-dot-mobile) {
		justify-content: flex-end;
	}
}

.footerLeft {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	gap: 8px;

	@media (--dev-dot-mobile) {
		display: none;
	}
}

.footerLeftArrowKeys {
	display: flex;
	gap: 4px;
}
