.callToAction {
	margin: 60px auto 0;
	background-image: linear-gradient(52.3deg, #2c2d2f 39.83%, #626264 96.92%);

	@media (--medium-up) {
		margin: 120px auto 0;
	}

	& > * {
		background-color: transparent;
	}
}
