/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.baseLayout {
	background-color: var(--mds-color-surface-faint);

	@nest html[data-theme='dark'] & {
		background-color: var(--mds-color-page-primary);
	}
}

.accordionSection {
	margin-bottom: 64px;

	@media (--dev-dot-tablet) {
		margin-bottom: 48px;
	}

	@media (--dev-dot-mobile) {
		margin-bottom: 32px;
	}
}

.renewCertSection {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 64px;

	@media (--dev-dot-tablet) {
		margin-bottom: 48px;
	}

	@media (--dev-dot-mobile) {
		margin-bottom: 32px;
	}
}

.renewCertHeader {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.renewCertHeaderTitle {
	font-size: 32px;
	color: var(--mds-color-foreground-strong);
}

.renewCertHeaderDesc {
	font-size: 18px;
	color: var(--mds-color-foreground-primary);
}
