/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.inlineCode {
	background-color: var(--mds-color-surface-faint);
	border-radius: 5px;
	border: 1px solid var(--mds-color-border-primary);
	line-height: 1;
	padding: 2px 4px 3px 4px;

	@nest html[data-theme='dark'] & {
		background-color: var(--mds-color-surface-strong);
	}
}

.size-100 {
	composes: hds-typography-code-100 from global;
}

.size-200 {
	composes: hds-typography-code-200 from global;
}

.tableCellSolelyInlineCode {
	max-width: 30ch;
	word-wrap: break-word;
	display: inline-block;
}
