node_modules
.DS_Store
.next
out
.tmp
.env*.local
.env
.vercel
_temp-migrations/
src/data/_redirects.generated.json
src/data/_rewrites.generated.json
test-results/
playwright-report/
tsconfig.tsbuildinfo
src/.generated/
scripts/docs-content-link-rewrites/.generated
src/.extracted/
public/.extracted/

# sitemap
sitemap-0.xml
sitemap.xml
robots.txt
