.root {
  background-color: var(--vault-secondary);
}

.content {
  display: grid;

  /* automatically use more columns, as long as columns are >= 400px wide */

  /* note that minimum size is adjusted to less than 400px if 100% < 400px */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  grid-gap: 24px;
  align-items: center;
}

.text {
  text-align: left;
}

.heading {
  composes: g-type-display-5 from global;

  /* !important is necessary here to stop leaks from enclosing
      @hashicorp/react-content component styles */
  margin: 0 !important;
}

.body {
  /* !important is necessary here to stop leaks from enclosing
      @hashicorp/react-content component styles */
  margin: 8px 0 0 0 !important;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}

.image {
  display: flex;
  justify-content: center;
  padding: 16px;

  & img {
    max-width: 300px;
    margin: 0;
    display: block;
  }
}
