.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*
Back to link has some padding, unlike typical StandloneLink
*/
.backToLink {
  padding-left: 4px;
}

/*
Spaces all items except the "back to" link
*/
.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*
Horizontal rule
*/
.hr {
  position: relative;
  background: none;
  height: 1px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;

  &::before {
    display: block;
    content: '';
    background: var(--token-color-border-primary);
    width: 100%;
    height: 1px;
  }
}

/*
Section title
*/
.sectionTitle {
  composes: hds-typography-body-100 from global;
  font-weight: var(--token-typography-font-weight-semibold);
  padding-left: 8px;
}

/*
Section list
*/
.listRoot {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
