.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*
Back to link has some padding, unlike typical StandloneLink
*/
.backToLink {
  padding-left: 4px;
}

/*
Horizontal rule
Note: overrides top and bottom margin of HorizontalRule from components/sidebar
*/
hr.hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

/*
Section list
*/
.listRoot {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
