/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

/*
Horizontal rule
Note: overrides top and bottom margin of HorizontalRule from components/sidebar
*/
hr.hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

/*
Section list
*/
.listRoot {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 2px;
}
