/**
Unfortunately, these `!important` are necessary to keep styles from #48 from leaking in. Using MDX custom components to implement styling for docs content may provide a path forward to make these `!important` unnecessary.
*/
.pageHeading {
  margin-bottom: 12px;
}

.pageSubheading {
  composes: hds-typography-body-300 from global;
  color: var(--token-color-neutral-foreground-secondary);
  margin-bottom: 48px;
}
