.pageHeading {
  margin-bottom: 12px;
}

.pageSubheading {
  composes: hds-typography-body-300 from global;
  color: var(--token-color-neutral-foreground-secondary);
  margin-bottom: 48px;
}

.h2 {
  margin-top: 48px;
  margin-bottom: 16px;
}
