.root {
	/* composition */
	composes: g-focus-ring-from-box-shadow-dark from global;

	/* properties */
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	display: flex;
	gap: 16px;
	justify-content: space-between;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	width: fit-content;

	/* TODO is there a better value for this? */
	box-shadow: inset 0 0 0 1px rgba(222, 223, 227, 0.3),
		inset 0 1px 2px 1px rgba(222, 223, 227, 0.1);

	/* Show icon-only starting at 1023px and narrower */
	@media only screen and (max-width: 1023px) {
		padding: 10px;

		& .leadingIcon {
			color: var(--token-color-palette-neutral-200);
		}

		& .text {
			display: none;
		}

		& .right {
			display: none;
		}
	}
}

.left {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	gap: 8px;
}

.leadingIcon {
	color: var(--token-color-palette-neutral-400);
	display: flex;
}

.text {
	color: var(--token-color-foreground-high-contrast);
}

.right {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	gap: 4px;
}

.keyBadge {
	background-color: var(--token-color-foreground-primary);
}
