/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.figure {
	margin: 16px 0;
}

.caption {
	composes: hds-typography-body-200 from global;
	color: var(--mds-color-foreground-primary);
	margin-top: 16px;
}
