.root {
	display: grid;
	gap: 16px;

	@media (--dev-dot-tablet-up) {
		grid-template-columns: 1fr auto;
		column-gap: 24px;

		& .versionSwitcherWrapper {
			order: 1;
		}
	}
}

.heading {
	composes: g-offset-scroll-margin-top from global;
	color: var(--token-color-foreground-strong);
	margin-bottom: 12px;
}
