.root {
  color: black;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--token-color-neutral-background-secondary);
  }
}
