/*
NOTE: `color: black` is needed because the color is otherwise set by a global
style applied to anchor elements.
*/
.root {
  color: black;
  height: 100%;

  /* Only enable animation if query is supported and value is no-preference */
  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s, box-shadow 0.2s;
  }

  &:hover {
    box-shadow: var(--token-surface-high-box-shadow);
    cursor: pointer;
  }
}
