.question {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&.choice {
		gap: 20px;
	}

	&.text {
		gap: 12px;
	}
}

.buttonWrapper {
	display: flex;
	gap: 16px;

	@media (--dev-dot-tablet-up) {
		margin-top: 0;
	}
}

.submitButton {
	margin-top: 4px;
}

.textAreaContainer {
	width: 100%;
	display: block;
	resize: none;
	height: 100px;
	position: relative;
}

.optionalText {
	composes: hds-typography-body-100 from global;
	position: absolute;
	top: 12px;
	right: 12px;
	color: var(--token-color-foreground-faint);
}

.textArea {
	composes: hds-surface-base from global;
	composes: hds-typography-body-200 from global;
	border: 1px solid var(--token-color-border-primary);
	border-radius: 6px;
	color: var(--token-color-foreground-faint);
	width: 100%;
	resize: none;
	height: 100px;
	padding: 12px;
}

.labelWrapper {
	display: flex;
	gap: 8px;
	align-items: center;
}

.labelIcon {
	--size: 28px;

	background: var(--token-color-surface-faint);
	border: 1px solid var(--token-color-border-primary);
	box-shadow: var(--token-elevation-low-box-shadow);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	min-width: var(--size);
	min-height: var(--size);

	@media (--dev-dot-mobile) {
		--size: 40px;

		& svg {
			height: 24px;
			width: 24px;
		}
	}
}

.label {
	composes: hds-typography-body-300 from global;
	color: var(--token-color-foreground-strong);
	min-height: 100%;

	& span {
		vertical-align: middle;
	}

	& strong {
		font-weight: var(--token-typography-font-weight-medium);
	}
}

.finished {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	composes: hds-typography-body-200 from global;
	font-weight: var(--token-typography-font-weight-semibold);
	padding: 16px;
	color: var(--token-color-foreground-success-on-surface);
	background-color: var(--token-color-surface-success);
	border: 1px solid var(--token-color-border-success);
	border-radius: 6px;
}
