.root {
	composes: g-type-body-small from global;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.alertContainer {
	background-color: var(--token-color-surface-highlight);
	border: 1px solid var(--token-color-border-highlight);
	border-radius: 6px;
	display: flex;
	gap: 12px;
	padding: 16px;
	width: 100%;
}

.icon {
	color: var(--token-color-foreground-highlight-on-surface);
	flex-shrink: 0;
	display: flex;

	& svg {
		display: block;
	}
}

.contentContainer {
	flex-grow: 1;
}

.actions {
	padding-top: 16px;
	display: flex;
	gap: 8px;
}

.title {
	color: var(--token-color-foreground-highlight-on-surface);

	/* !important is necessary here to stop leaks from enclosing
     @hashicorp/react-content component styles */
	margin: 0 !important;
}

.description {
	color: var(--token-color-foreground-primary);

	/* !important is necessary here to stop leaks from enclosing
     @hashicorp/react-content component styles */
	margin: 4px 0 0 !important;
}
