/*
***
* Class for the main container.
***
* Notes:
*   - `height` does not need to be set here because it is based on the height of
*     the `NavigationHeaderDropdownMenu` buttons, which respect dynamic
*     `font-size` units.
***
*/
.root {
  background-color: var(--token-color-palette-neutral-700);
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.leftSide {
  align-items: center;
  display: flex;
  justify-content: left;
}

/*
***
* Note: these are all classes that get passed to `InlineSvg`. They need
* `display: flex` set or there will be a small gap below the SVG, making them
* off-center vertically.
***
*/
.siteLogo,
.companyLogo,
.productLogo {
  display: flex;
}

.companyLogoMenuButton {
  padding-bottom: 2px;
  padding-top: 2px;
}

.companyLogo svg {
  height: 32px;
  width: 32px;
}

.productLogoLink {
  /* Composition */
  composes: g-focus-ring-from-box-shadow-dark from global;

  /* CSS properties */
  border-radius: 5px;
  margin-left: 12px;
}

.productLogo svg {
  height: 40px;
  width: auto;
}

.rightSide {
  align-items: center;
  display: flex;
  justify-content: right;
}

/*
***
* TODO: position absolutely with `left` based on sidebar width and spacing so
* that the nav is in the same place regardless of the page.
***
*/
.nav {
  margin-left: 100px;
}

.navList {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainNavLink {
  /* Composition */
  composes: g-focus-ring-from-box-shadow-dark from global;

  /* CSS properties */
  border-radius: 5px;
  color: var(--token-color-palette-neutral-400);
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;

  &:hover {
    color: var(--token-color-surface-primary);
    cursor: pointer;
  }
}
