/*
***
* Class for the main container.
***
* Note: `min-height` is needed on the home page because the
* `NavigationHeaderDropdownMenu` buttons that are intended to make the header
* grow are only inside of the absolutely positioned `nav` element. On the
* product pages, the main menu is a `NavigationHeaderDropdownMenu` button
* located inside of an element that's not absolutely positioned.
***
*/
.root {
  --header-padding-left-right: 24px;
  --header-dropdown-menu-padding-left-right: 12px;

  background-color: var(--token-color-palette-neutral-700);
  display: flex;
  justify-content: space-between;
  padding-left: var(--header-padding-left-right);
  padding-right: var(--header-padding-left-right);
  position: relative;
  width: 100%;
}

.leftSide {
  align-items: center;
  display: flex;
  justify-content: left;
}

/*
***
* Note: these are all classes that get passed to `InlineSvg`. They need
* `display: flex` set or there will be a small gap below the SVG, making them
* off-center vertically.
***
*/
.productLogo {
  display: flex;

& svg {
  height: 40px;
  width: auto;
}
}

.rightSide {
  align-items: center;
  display: flex;
  justify-content: right;
}

/*
***
* Note: this fancy math is used for two reasons. First, to make sure the <nav>
* items are always locatated in the same place in the header (when they're
* visible). Second, which explains the precise values, to make sure the text of
* the first <nav> item left-aligns with the text of the page content when there
* is no extra space on the left or right side of it.
***
*/
.contentBeforeNav {
  align-items: center;
  display: flex;
  justify-content: left;
  width: calc(
    var(--dev-dot-sidebar-width) + 2 * var(--main-area-padding-left-right) -
      var(--header-padding-left-right) -
      var(--header-dropdown-menu-padding-left-right)
  );
}

.navList {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
