.navigationHeader {
  background-color: var(--token-color-palette-neutral-700);
  color: var(--token-color-palette-neutral-0);
  height: var(--navigation-header-height);
  padding: 20px 24px;

  & nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.headerLeft,
.headerRight {
  align-items: center;
  display: flex;
}

.siteLogo {
  display: flex;
  margin-right: 12px;

  & svg {
    height: 40px;
    width: 40px;
  }
}

.navLinks {
  align-items: center;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 72px;
  margin-top: 0;

  & li {
    padding: 8px 12px;

    & a {
      color: var(--token-color-palette-neutral-400);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      /* TODO: ask design about hover state */
      &:hover {
        color: var(--token-color-palette-neutral-300);
      }

      &[aria-current='page'] {
        color: var(--token-color-palette-neutral-100);
      }
    }
  }
}
