.navigationHeader {
  background-color: var(--token-color-palette-neutral-700);
  color: var(--token-color-palette-neutral-0);
  height: var(--nav-bar-height);
  padding: 20px 24px;

  & nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.headerLeft,
.headerRight {
  align-items: center;
  display: flex;
}

.siteLogo {
  display: flex;
  margin-right: 12px;

  & svg {
    height: 40px;
    width: 40px;
  }
}

.navLinks {
  align-items: center;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 72px;
  margin-top: 0;
}

.navLinksListItem {
  padding: 4px;
}

/* TODO: use `calc` and variables so it's clearer why we're using odd padding values */
.navLinksAnchor {
  composes: focus-border-and-box-shadow-dark from global;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--token-color-palette-neutral-400);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 8px;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.1s;
  }

  &:hover {
    color: var(--token-color-palette-neutral-300);
  }

  /* TODO: replace colors w/ tokens when available */
  &:focus {
    color: var(--token-color-palette-neutral-300);
  }

  &[aria-current='page'] {
    color: var(--token-color-palette-neutral-100);
  }
}
