.heading {
	composes: hds-typography-display-300 from global;
	composes: hds-font-weight-bold from global;
	color: var(--token-color-foreground-strong);
	margin-bottom: 16px;
}

.devPre {
	border: 1px solid magenta;
	white-space: pre-wrap;
}
