/*

Home page max width
Note: this is the same as CertificationsMaxWidth.
Intentionally keeping them separate for now.

Maybe BaseNewLayout could export BaseLayoutMaxWidth?

*/

.homePageMaxWidth {
	margin-left: auto;
	margin-right: auto;
	max-width: 1240px;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}

/*

Text

*/

.heading {
	color: red;
}

.description {
	color: red;
}

/*

Image & Background image

*/

.heroBackground {
	background: url('./assets/certifications-hero-gradient.svg'),
		var(--token-color-foreground-strong);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.heroImage {
	display: flex;
	height: 200px;
	overflow: visible;
	position: relative;

	& > img {
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);

		@media only screen and (min-width: 481px) {
			position: relative;
			top: -40px;
			left: auto;
			margin-left: auto;
			transform: none;
		}
	}
}
