.root {
	--highlight-color: var(--token-color-foreground-highlight);
	--border-width: 4px;

	background: black;
	border-left: var(--border-width) solid var(--highlight-color);
	position: fixed;
	right: var(--border-width);
	top: 0;
	bottom: 0;
	transition: transform 0.3s;
	width: min(80vw, 800px);

	&.isCollapsed {
		transform: translateX(100%);
	}
}

.scrollableContent {
	overflow: auto;
	padding: 1rem;
	max-height: 100%;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.topRow {
	display: flex;
	align-items: center;
	gap: 16px;

	& > *:first-child {
		flex-grow: 1;
	}
}

.collapseButtonLayout {
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
}

.collapseButton {
	padding: 2rem;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border: none;
	background: var(--highlight-color);
	color: black;
	cursor: pointer;
}

.generateButton {
	flex-shrink: 0;
}

.fieldLabel {
	composes: hds-typography-body-200 from global;
	text-transform: uppercase;
}
