.root {
	display: flex;
	gap: 24px;
}

.sidebar {
	display: none;
	border: 1px solid var(--token-color-border-highlight);
	height: calc(100vh - var(--navigation-header-height));
	padding: 24px;
	position: sticky;
	top: var(--navigation-header-height);
	width: 400px;
	overflow: auto;
	padding-bottom: 100px;

	@media (--dev-dot-hide-mobile-menu) {
		display: block;
	}
}

.main {
	border: 1px solid var(--token-color-border-highlight);
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	gap: 24px;
	min-width: 0;
	padding: 24px 24px 120px 24px;
}

/**
 * Operation object
 */

.operationColumns {
	display: flex;
	flex: 1 1 0;
	gap: 24px;
	min-width: 0;
}

.operationPropertiesColumn {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	gap: 8px;
	min-width: 0;
}

.propertiesPlaceholder {
	max-height: 600px;
}

.operationCodeColumn {
	--sticky-spacing: 24px;

	align-self: flex-start;
	flex: 1 1 0;
	min-width: 0;
	position: sticky;
	top: calc(var(--navigation-header-height) + var(--sticky-spacing));
}

.methodAndPath {
	display: flex;
	width: 100%;
}

/* Messy code block overrides */
.codePlaceholder {
	flex: 1 1 0;
	min-width: 0;

	/* Force max-height for code block */
	& [class*='style_linesColumn'] {
		max-height: 200px;
		overflow: auto !important;
	}

	/* Force wrapping in code block */
	& [class*='style_linesWrapper'] {
		width: 100% !important;
	}

	& [class*='style_LineOfCode'] {
		white-space: pre-wrap;
		overflow-wrap: break-word;
		min-width: 0;
	}
}
