.root {
	list-style: none;
	width: 100%;
}

.link,
.button {
	composes: g-focus-ring-from-box-shadow from global;
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
	color: var(--token-color-foreground-primary);
	display: flex;
	gap: 8px;
	width: 100%;
	border: none;
	padding: 8px 10px 8px 16px;
	text-decoration: none;

	& span {
		display: block;
	}

	&:hover {
		color: var(--token-color-foreground-action-hover);
	}

	&:active,
	&:focus {
		color: var(--token-color-foreground-action-active);
	}
}

.separator {
	color: var(--token-color-border-primary);
	margin-bottom: 0;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
}

.description {
	color: var(--token-color-foreground-faint);
	display: block;
	padding: 2px 16px 4px;
}

.label {
	color: var(--token-color-foreground-strong);
	display: block;
	padding: 10px 16px 4px;
}
