.root {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	padding: 24px;
	width: 100%;
	height: calc(100vh - 300px);
}

.left,
.right {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 100%;
	width: 50%;
}

.sectionHeading {
	margin: 0;
}

.box {
	border-radius: 6px;
	border: 1px solid black;
	height: 100%;
}

.textarea {
	composes: hds-typography-code-200 from global;
	padding: 24px;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
}

.content {
	padding: 24px !important;
	overflow-y: scroll;
	max-height: 100%;
}
