.chartContainer {
	position: relative;
	background: var(
		--mds-accent-border-color,
		var(--token-color-border-primary)
	);
	border-radius: var(--mds-spacing-04);
	margin: 0;
	padding: var(--mds-spacing-08);
	isolation: isolate;

	&.multiple {
		margin-top: var(--mds-spacing-08);
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		inset: var(--mds-accent-border-width, 1px);
		background-color: var(--token-color-surface-primary);
		border-radius: calc(
			var(--mds-spacing-04) - var(--mds-accent-border-width, 1px)
		);
	}

	@media (--medium-up) {
		padding: var(--mds-spacing-11) var(--mds-spacing-15);
	}
}

.caption {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}