.pageContent {
	padding-bottom: 128px;
}

.useCaseCards {
	display: grid;

	/* stick to 1 column at 100% no matter what */
	grid-template-columns: 100%;
	grid-gap: 16px;

	@media (min-width: 640px) {
		grid-gap: 24px;
	}
}

.developerCards {
	display: grid;
	grid-gap: 16px;

	/* automatically use more columns, as long as columns are >= 320px wide */

	/* note that minimum size can be less than 320px, if 100% < 320px */
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
	align-items: stretch;

	@media (min-width: 640px) {
		grid-gap: 24px;
	}
}

.developerCard {
	/* necessary because CardLink is a <div> nested in an <a>, 
  the <a> will behave as expected in the .developerCards grid layout,
  we need the <div> to match its height to get the desired effect */
	height: 100%;
}
