/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	background: var(--mds-color-surface-faint);
	box-shadow: var(--token-surface-base-box-shadow);
	border-radius: 6px;
	padding: 16px;
}
