.root {
	/* composition */
	composes: hds-surface-base from global;

	/* properties */
	background-color: var(--token-color-surface-faint);
	border-radius: 6px;
}

.activator {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	align-items: center;
	background-color: transparent;
	border-radius: 6px;
	border: none;
	display: flex;
	gap: 8px;
	justify-content: space-between;
	padding: 16px;
	outline: transparent;
	width: 100%;

	/* aka disclosure is open */
	&[aria-expanded='true'] {
		& .chevron svg {
			transform: rotate(-180deg);
		}
	}
}

.iconAndTextWrapper {
	align-items: center;
	display: flex;
	gap: 6px;
}

.icon {
	display: block;
	border-radius: 5px;
	height: 28px;
	overflow: hidden;
	width: 28px;

	& img {
		width: 100%;
	}
}

.text {
	color: var(--token-color-foreground-primary);
}

.chevron {
	display: block;
	height: 24px;
	width: 24px;

	& svg {
		color: var(--token-color-foreground-primary);

		/* Only enable animation if query is supported and value is no-preference */
		@media (prefers-reduced-motion: no-preference) {
			transition: transform 0.2s;
		}
	}
}

.content {
	padding-bottom: 4px;
	padding-top: 10px;
	position: relative;
	width: unset;

	&::before {
		border-top: 1px solid var(--token-color-border-primary);
		content: '';
		left: 6px;
		position: absolute;
		right: 6px;
		top: 0;
	}
}

.label {
	color: var(--token-color-foreground-strong);
	display: block;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button,
.link {
	/* composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* properties */
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: var(--token-color-foreground-primary);
	display: flex;
	gap: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	width: 100%;
}
