.root {
  padding: 1rem;
  border-top: 1px solid var(--gray-5);
  background: var(--gray-6);
  display: flex;
  align-items: center;
  color: var(--gray-3);
  justify-content: center;
  text-align: center;
}
