.root {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 25px;
	}

	& .typeString {
		color: var(--gray-2);
		background: none;
		padding: 0;
		margin-left: 2px;
	}
}

.nestedProperties {
	padding-left: 4px;
}

.descriptiveText {
	/* Base typography */
	composes: hds-typography-body-200 from global;
	color: var(--gray-3);
	margin: 8px 0 0 0;

	/* Remove the top margin from any first item */
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}
