.resizable {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  max-height: 95%;
  box-sizing: border-box;
  padding-top: 0.75rem;
}

.hide {
  display: none;
}

/* Prevent embed div & iframe mouse-hovering from interrupting smooth resize feel
 Target these specifically since we need to keep events on the Close Button */
.resizing > iframe {
  pointer-events: none;
}
.resizing > [data-katacoda-id] {
  pointer-events: none;
}
