.root {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.backButton {
  padding-bottom: 7px;
  padding-left: 3px;
  padding-right: 9px;
  padding-top: 7px;
}

.forwardButton {
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 3px;
  padding-top: 7px;
}
