.root {
	--padding: 32px;
	--min-height: 200px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--padding);
	min-height: var(--min-height);
	border-radius: 6px;
	background-color: var(--black);
	color: var(--white);
	background-image: url('/img/homepage/hashiconf-global-slot-accent.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@media (--dev-dot-tablet-up) {
		--padding: 48px;
		--min-height: 450px;
	}
}

.description {
	max-width: 390px;
	margin-top: 32px;
	margin-bottom: 64px;
	font-size: 24px;
	color: var(--token-color-surface-faint);
}

.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 8px 12px;
	margin-top: auto;
}
