.progressIcon {
	&.status_in_progress {
		--color: var(--token-color-palette-blue-200);
	}

	&.status_complete {
		--color: var(--token-color-palette-green-200);
	}

	&.size_12 {
		--size: 12px;
	}

	&.size_14 {
		--size: 14px;
	}

	width: var(--size);
	height: var(--size);
	color: var(--color);
}
