.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-display);
}

.body {
  flex-grow: 1;
  position: relative;
}

.contentWrapper {
  height: 100%;
  left: var(--sidebar-width);
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  position: relative;
}

/*
TODO: a lot of this will be abstracted further when we have access to design
tokens and helper classes.

NOTE: the flex-grow and width properties set on the <main> element
ensure that the element grows to fit the open space. When there are images in
the <main>, it can become too wide. When there is very little content (such as a
heading with only a couple words, the element can become too narrow.
  - flex-grow: 1
  - width: 0
*/
.main {
  color: var(--token-color-palette-neutral-600);
  flex-grow: 1;
  font-size: 16px;
  line-height: 22px;
  max-width: 804px;
  padding: 0 24px;
  padding-bottom: 50vh;
  width: 0;

  & :global {
    & a.__permalink-h {
      display: none;
    }

    & .alert.alert-info {
      background-color: #f2f8ff;
      border: 1px solid #cce3f3;
      border-radius: 6px;
      color: var(--token-color-palette-neutral-600);
      padding: 24px;

      & code {
        background-color: white;
        border: 1px solid #cce3fe;
        border-radius: 5px;
        color: inherit;
      }

      & p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--token-color-palette-neutral-700);

    & + ul,
    & + ol {
      margin-top: 12px;
    }

    & + p {
      margin-top: 0;
    }

    /*
    TODO: these values are a special request from design for the purposes of the
    inital preview. They make <code> elements within heading elements a little
    less jarring.
    */
    & code {
      font-size: 0.6em;
      font-weight: 500;
    }
  }

  & h1,
  & h2 {
    margin-bottom: 12px;
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: 8px;
  }

  & h4,
  & h5,
  & h6 {
    color: var(--token-color-palette-neutral-700);
  }

  /* named Heading 0 */
  & h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin-top: 0;
  }

  /* named Heading 1 */
  & h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 48px;
  }

  /* named Heading 2 */
  & h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 32px;
  }

  /* named Heading 3 */
  & h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 24px;
  }

  /* named Heading 4 and Heading 5 */
  & h5,
  & h6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
  }

  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0;
  }

  & strong {
    font-weight: 500;
  }

  & :not(nav) {
    & ul,
    & ol {
      margin: 24px 0;
      padding-left: 24px;

      & li {
        line-height: 24px;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        & ul,
        & ol {
          margin: 16px 0;
        }
      }
    }
  }

  & img {
    border-radius: 5px;
    margin: 24px auto;
    max-width: 100%;
  }

  /* inline code elements */
  & code {
    background-color: var(--token-color-palette-neutral-50);
    border-radius: 5px;
    border: 1px solid rgba(101, 106, 118, 0.2);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 2px 4px;
  }

  /* code blocks */
  & pre {
    border-radius: 5px;

    & code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    & th {
      text-align: left;
    }

    & td,
    & th {
      border-right: 1px solid #ddd;
      padding: 0;
    }

    & > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }

    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    & > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }

    & > caption + thead > tr:first-child > th,
    & > colgroup + thead > tr:first-child > th,
    & > thead:first-child > tr:first-child > th,
    & > caption + thead > tr:first-child > td,
    & > colgroup + thead > tr:first-child > td,
    & > thead:first-child > tr:first-child > td {
      border-top: 0;
      border-right: 1px solid #ddd;
    }

    & > tbody + tbody {
      border-top: 2px solid #ddd;
    }

    & table {
      background-color: #fff;
    }

    & tr.warning td {
      background: #fcf8e3;
    }
  }
}

.editOnGithubLink {
  margin-top: 64px;
}
