.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex-grow: 1;
  position: relative;
}

.contentWrapper {
  height: 100%;
  left: var(--sidebar-width);
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding: 24px;
  padding-bottom: 100px;
  position: relative;
}

.versionSwitcher {
  width: 346px;
  height: 18px;
}

.main {
  padding: 0 24px;
  max-width: 804px;

  & h1:first-child {
    margin-bottom: 12px;
  }

  & h2 {
    margin-bottom: 12px;
    margin-top: 40px;
  }

  & img {
    max-width: 100%;
  }
}

.tableOfContents {
  margin-left: 24px;
  min-width: 268px;
  position: sticky;
  text-align: right;
  top: 0;
  width: 268px;
}

.tableOfContentsLabel {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.tableOfContentsList {
  border-right: 1px solid #c2c5cb;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tableOfContentsListItem {
  color: #656a76;
  font-size: 14px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  & a {
    color: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 10px;

    &:focus {
      outline: none;
      border: 1px solid #1f69ff;
      box-shadow: 0 0 0 3px #a5c2f3;
    }
  }
}
