.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex-grow: 1;
  position: relative;
}

.contentWrapper {
  height: 100%;
  left: var(--sidebar-width);
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding-bottom: 24px 24px 100px 24px;
  position: relative;
}

.versionSwitcher {
  height: 18px;
  width: 346px;
}

/* TODO: these styles will be changing very soon, this is just to get us started */
.main {
  max-width: 804px;
  padding: 0 24px;

  & h1:first-child {
    margin-bottom: 12px;
  }

  & h2 {
    margin-bottom: 12px;
    margin-top: 40px;
  }

  & img {
    max-width: 100%;
  }
}
