/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.subheading {
	margin: 12px 0 24px 0;
	color: var(--mds-color-foreground-primary);

	@media (--dev-dot-tablet-up) {
		margin-bottom: 32px;
	}
}

.cardListHeading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
