.eyebrow {
	composes: hds-typography-display-300 from global;
	color: var(--token-color-foreground-faint);
	display: block;
	font-weight: var(--token-typography-font-weight-semibold);
	margin: 24px 0 0 0;
}

.title {
	composes: hds-typography-display-500 from global;
	color: var(--token-color-foreground-strong);
	font-weight: var(--token-typography-font-weight-bold);
	max-width: 10em;
	margin: 4px 0 0 0;
}

.version {
	composes: hds-typography-body-100 from global;
	color: var(--token-color-foreground-faint);
	display: flex;
	gap: 8px;
	align-items: top;
	margin: 24px 0 0 0;
}

.versionIcon {
	flex-shrink: 0;
	padding-top: 1px;

	& > svg {
		display: block;
	}
}

.versionText {
	align-items: center;
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
	gap: 4px;
}

.versionLabel {
	font-weight: var(--token-typography-font-weight-semibold);
}

.versionValue {
	font-weight: var(--token-typography-font-weight-regular);
}
