.root {
	display: flex;
	color: var(--token-color-foreground-primary);
	gap: 12px;
	align-items: center;
	padding: 12px;
	border: 1px solid var(--token-color-border-primary);
	border-radius: 6px;
}

.label {
	composes: hds-typography-body-200 from global;
	composes: hds-font-weight-medium from global;
}
