.productSwitcher {
	position: fixed;
	bottom: 16px;
	left: 16px;
	z-index: 999;
}

.switcherButton {
	composes: focus-border-and-box-shadow-dark from global;
	align-items: center;
	background-color: #0c0c0e;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	box-shadow: 0 1px 1px rgba(194, 197, 203, 0.05),
		0 2px 2px rgba(194, 197, 203, 0.05);
	color: #f1f2f3;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&[aria-expanded='true'] {
		background-color: #030303;
	}
}

.switcherCaret {
	color: #dedfe3;
	margin-right: 4px;
}

.switcherOptionList {
	background-color: #030303;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(194, 197, 203, 0.15),
		0 2px 3px rgba(194, 197, 203, 0.1),
		0 8px 16px -10px rgba(194, 197, 203, 0.2);
	list-style: none;
	padding: 2px 0;
	margin: 0;
	margin-top: 4px;
	width: 264px;
	z-index: 100;
	padding-left: 0;
	margin-bottom: 8px;

	& ul {
		list-style: none;
		padding-left: 0;
	}
}

.separator {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	margin: 4px 12px;
}

.switcherOption {
	margin: 2px 0;

	&:hover {
		background-color: #3b3d45;
	}
}

.activeSwitcherOption {
	background-color: #636770;
}

/*
Two items to note:
  - transparent border on default is to prevent layout shift on focus
  - both paddings are set to adjust for transparent border
*/
.switcherOptionAnchor {
	align-items: center;
	color: #f1f2f3;
	display: flex;
	padding: 3px;
	position: relative;
	cursor: pointer;
	width: 100%;

	&:focus {
		outline: transparent;
	}

	&:focus-visible {
		& .focusContainer {
			border: 1px solid #107dff;
			box-shadow: 0 0 0 3px #5fbcff;
			outline: transparent;
		}
	}
}

.focusContainer {
	align-items: center;
	border: 1px solid transparent;
	border-radius: 5px;
	display: flex;
	padding: 4px 8px;
	width: 100%;
}

.switcherOptionContainer {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	padding-right: 8px;

	& svg {
		margin-right: 6px;
	}

	& span {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
}

/*
TODO: this is temporary for the Vault icon since:
  - we do not have a yellow version of the icon available from flight-icons yet
  - the icon is currently on a dark background and appears "invisible"
*/
.vaultProductIcon {
	& path {
		fill: white;
	}
}
