/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	composes: g-offset-scroll-margin-top from global;
	color: var(--mds-color-foreground-strong);
	margin: 0;
	width: 100%;
}
