.label {
	color: var(--token-color-foreground-primary);
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
}
