/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.listResetStyles {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sidebarLinkList {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
