.preFooter {
  --container-max-width: 1140px;
  --grid-template-columns: 4;
  --grid-column-gap: 24px;

  position: relative;
  padding: 64px 24px;
  background-image: radial-gradient(
    at bottom,
    var(--token-color-palette-neutral-100),
    --token-color-palette-neutral-0
  );

  @media (--dev-dot-tablet-up) {
    --grid-template-columns: 12;
    --grid-column-gap: 32px;
  }
}

.container {
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-template-columns), 1fr);
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: 32px;
  align-items: center;
}

.content {
  grid-column: 1 / -1;

  @media (--dev-dot-tablet-up) {
    grid-column: 2 / 7;
  }
}

.description {
  margin-top: 12px;
  color: var(--token-color-foreground-primary);
}

.actions {
  grid-column: 1 / -1;

  @media (--dev-dot-tablet-up) {
    grid-column: 8 / 12;
  }
}

.ctaList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 32px;
}

.ctaItem {
  display: flex;
  gap: 12px;
}

.ctaHeading {
  margin-bottom: 8px;
}
