.root {
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.iconAndTextWrapper {
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.pageTitle {
  color: var(--token-color-foreground-strong);
  margin-bottom: 12px;
}

.pageSubtitle {
  color: var(--token-color-foreground-primary);
}
