.root {
	border-radius: 6px;
	border: 1px solid;
	box-shadow: var(--token-elevation-higher-box-shadow);
	display: flex;
	padding: 16px;
	width: 100%;

	&.color-neutral {
		background: var(--token-color-surface-faint);
		border-color: var(--token-color-border-strong);

		--title-and-icon-color: var(--token-color-foreground-strong);
	}

	&.color-highlight {
		background: var(--token-color-surface-highlight);
		border-color: var(--token-color-border-highlight);

		--title-and-icon-color: var(--token-color-foreground-highlight-on-surface);
	}

	&.color-warning {
		background: var(--token-color-surface-warning);
		border-color: var(--token-color-border-warning);

		--title-and-icon-color: var(--token-color-foreground-warning-on-surface);
	}

	&.color-success {
		background: var(--token-color-surface-success);
		border-color: var(--token-color-border-success);

		--title-and-icon-color: var(--token-color-foreground-success-on-surface);
	}

	&.color-critical {
		background: var(--token-color-surface-critical);
		border-color: var(--token-color-border-critical);

		--title-and-icon-color: var(--token-color-foreground-critical-on-surface);
	}
}

.iconArea {
	color: var(--title-and-icon-color);
	flex-shrink: 0;
	margin-right: 12px;

	& svg {
		display: block;
	}
}

.contentArea {
	flex-grow: 1;
}

.title {
	composes: hds-typography-body-200 from global;
	color: var(--title-and-icon-color);
	font-weight: var(--token-typography-font-weight-semibold);
}

.description {
	composes: hds-typography-body-200 from global;
	color: var(--token-color-foreground-primary);

	&:not(:first-child) {
		margin-top: 4px;
	}
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 16px;
}

.closeArea {
	flex-shrink: 0;
	margin-left: 16px;
}
