.hero {
  background-color: var(--token-color-palette-neutral-700);
  background-image: url('/img/homepage/hero-accent-right.svg');
  background-position: right -200px top;
  background-repeat: no-repeat;
  color: var(--token-color-palette-neutral-0);

  @media (--dev-dot-tablet-up) {
    background-image: none;
  }
}

.container {
  --container-max-width: 1600px;
  --grid-template-columns: 1;

  padding-top: var(--homepage-section-padding-y);
  padding-bottom: var(--homepage-section-padding-y);
  margin-right: auto;
  margin-left: auto;
  width: min(
    100% - calc(var(--homepage-container-padding-x) * 2),
    var(--container-max-width)
  );
  display: grid;
  grid-template-columns: repeat(var(--grid-template-columns), 1fr);
  grid-gap: 64px 32px;

  @media (--dev-dot-tablet-up) {
    --grid-template-columns: 12;

    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('/img/homepage/hero-accent.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-position: right 0 center;
  }

  @media (min-width: 1400px) {
    background-position: right 250px center;
  }
}

.content {
  grid-column: 1 / -1;

  @media (--dev-dot-tablet-up) {
    grid-column: 1 / 9;
  }

  @media (--dev-dot-desktop) {
    grid-column: 1 / 5;
  }
}

.badge {
  margin-bottom: 12px;
}

.description {
  display: grid;
  margin-top: 24px;
  gap: 1rem;
}

.actions {
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media (--dev-dot-desktop) {
    grid-column: 6 / -1;
  }
}

.actionsItem {
  display: flex;
  grid-column: 1 / -1;

  @media (--dev-dot-tablet-up) {
    grid-column: span 1;
  }
}

.action {
  --border-radius: 6px;

  position: relative;
  display: flex;
  padding-left: 32px;
  padding-bottom: 32px;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 32px;
    left: 32px;
    border-radius: var(--border-radius);
    background-image: var(--gradient);
  }

  &::before {
    transform: translate(-16px, 16px);
    z-index: 1;
  }

  &::after {
    z-index: 0;
    transform: translate(-32px, 32px);
  }

  &.green {
    --gradient: linear-gradient(
      118.87deg,
      rgba(167, 224, 147, 0.624) 20.66%,
      rgba(20, 255, 184, 0.8) 114.09%
    );
  }

  &.purple {
    --gradient: linear-gradient(
      119.93deg,
      rgba(176, 58, 140, 0.8) 19.83%,
      rgba(143, 48, 217, 0.8) 110.96%
    );
  }
}

.actionInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 32px;
  border-radius: var(--border-radius);
  background-color: var(--token-color-palette-neutral-0);
  z-index: 2;
}

.actionHeading {
  color: var(--token-color-palette-neutral-700);
}

.actionDescription {
  margin-top: 12px;
  margin-bottom: auto;
  padding-bottom: 32px;
  color: var(--token-color-foreground-primary);
}

.actionLink {
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--token-color-border-strong);
  display: inline-flex;
  justify-content: center;
  padding: 12px 20px;
  position: relative;
  color: var(--token-color-foreground-primary);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  background-color: var(--token-color-surface-faint);

  &:hover {
    background-color: var(--token-color-surface-primary);
    box-shadow: var(--token-elevation-low-box-shadow);
  }
}
