/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	composes: hds-typography-body-200 from global;
	color: var(--mds-color-foreground-strong);
	font-weight: var(--token-typography-font-weight-semibold);
	margin-top: 8px;
}
