/**
 * Helper class to reset browser button styling,
 * for this use cases we don't want these defaults.
 */
.resetButton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: none;

  /* inherit line-height, font & color */
  color: inherit;
  font: inherit;
  line-height: inherit;
}

/**
 * Note: the styles below are largely duplicative of components/inline-link.
 */
.root {
  composes: resetButton;
  composes: g-focus-ring-from-box-shadow from global;
  border-radius: 5px;
  color: var(--token-color-foreground-action);
  cursor: pointer;
  text-decoration: underline;

  &:active {
    color: var(--token-color-foreground-action-active);
  }

  &:focus-visible {
    text-decoration: none;
    margin: -5px;
    padding: 5px;
  }

  &:hover {
    color: var(--token-color-foreground-action-hover);
  }

  &:visited {
    color: var(--token-color-foreground-action-visited);

    &:hover {
      color: var(--token-color-foreground-action-visited-hover);
    }
  }
}
