.root {
	composes: g-focus-ring-from-box-shadow from global;
	opacity: 0;
	display: inline-block;
	order: 1;
	position: relative;
	left: -22px;
	margin-right: -20px;
	border-radius: 5px;
	padding: 2px;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.2s ease;
	}

	@media (--dev-dot-sidecar-up) {
		left: -34px;
		margin-right: -26px;
		padding: 5px;
		top: auto;
	}

	& .icon {
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover,
	&:focus {
		background: var(--token-color-palette-neutral-200);
		opacity: 1;
	}
}
