.root {
	composes: g-focus-ring-from-box-shadow from global;
	border-radius: 6px;
	display: flex;
	float: right;
	margin-left: 8px;
	opacity: 0;
	padding: 4px;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.2s ease;
	}

	& .icon {
		color: var(--token-color-foreground-action);
	}

	&:hover {
		opacity: 1;
		box-shadow: var(--token-surface-mid-box-shadow);

		& .icon {
			color: var(--token-color-foreground-action-hover);
		}
	}

	&:focus {
		opacity: 1;
		background: var(--token-color-surface-faint);

		& .icon {
			color: var(--token-color-foreground-action-active);
		}
	}
}

.icon {
	display: flex;
}

.h2 {
	margin-top: 5px;
}
