.root {
	composes: g-focus-ring-from-box-shadow from global;
	opacity: 0;
	border-radius: 6px;
	padding: 4px;
	height: fit-content;
	float: right;
	margin-left: 8px;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.2s ease;
	}

	& .icon {
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		opacity: 1;
		box-shadow: var(--token-surface-mid-box-shadow);

		& svg * {
			fill: var(--token-color-foreground-action-hover);
		}
	}

	&:focus {
		opacity: 1;
		background: var(--token-color-surface-faint);

		& svg * {
			fill: var(--token-color-foreground-action-active);
		}
	}
}

.h2 {
	margin-top: 5px;
}
