.root {
	composes: g-focus-ring-from-box-shadow from global;
	opacity: 0;
	border: none;
	background: none;
	display: inline-block;
	right: 0;
	position: relative;
	border-radius: 6px;
	padding: 5px;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.2s ease;
	}

	& .icon {
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover,
	&:focus {
		opacity: 1;
		box-shadow: var(--token-surface-mid-box-shadow);

		& svg,
		& path {
			fill: var(--token-color-foreground-action);
		}
	}
}
