/*
***
* Classes used in the "card-grid" block.
***
*/

.cardGridCard {
  height: 100%;
}

.cardGridCardTitle {
  color: var(--token-color-foreground-strong);
  margin-bottom: 4px;
}

.cardGridCardDescription {
  color: var(--token-color-foreground-faint);
}
