/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.resizeWrapper {
	width: 100%;
	height: 40px;
	background: var(--mds-color-palette-neutral-50);
	box-shadow: var(--token-elevation-overlay-box-shadow);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.resizer {
	cursor: row-resize;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: var(--mds-color-palette-neutral-100);
	}
}

.resizeBar {
	display: flex;
	justify-content: center;
	align-items: center;

	& svg {
		fill: var(--mds-color-palette-neutral-300);
	}
}

.closeIcon {
	position: absolute;
	right: 0;
	display: grid;
	place-content: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
	z-index: 11;
	background: none;
	border: none;
	padding: 0;

	&:hover {
		background-color: var(--mds-color-palette-neutral-100);
	}

	& svg {
		width: 20px;
		height: 20px;
		stroke: var(--mds-color-palette-neutral-300);
	}
}
