/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.submittedMsg {
	display: flex;

	&.dark {
		& .submittedMsgText {
			color: var(--mds-color-foreground-high-contrast);
		}
		& .submittedMsgTextLink {
			color: var(--mds-color-foreground-high-contrast);
			text-decoration: underline;
		}

		@nest html[data-theme='dark'] & {
			& .submittedMsgText {
				color: var(--mds-color-foreground-strong);
			}
			& .submittedMsgTextLink {
				color: var(--mds-color-foreground-strong);
				text-decoration: underline;
			}
		}
	}
}

.iconWrapper {
	display: flex;
	column-gap: 8px;
	color: var(--mds-color-foreground-high-contrast);
	width: 100%;

	&.success {
		color: var(--mds-color-foreground-success);
	}

	&.error {
		color: var(--mds-color-foreground-warning);
	}

	@nest html[data-theme='dark'] & {
		color: var(--mds-color-foreground-strong);

		&.success {
			color: var(--mds-color-foreground-success);
		}

		&.error {
			color: var(--mds-color-foreground-warning);
		}
	}
}

.icon {
	flex: 0 0 auto;
	width: 24px;
	height: 24px;
}

.submittedMsgText {
	composes: hds-typography-body-300 from global;
	margin: 0;
}
