.root {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 16px;

	& ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		& li {
			display: inline-block;

			&:not(:last-of-type) {
				margin-right: 12px;
			}
		}
	}
}

.filterButton {
	display: flex;
	background: #f1f2f3;
	color: #656a76;
	font-weight: var(--font-weight-bold);
	border-radius: 14px;
	border: none;
	padding: 6px 8px 6px 10px;

	& svg {
		margin-left: 8px;
	}
}
