.certificationsCard {
	border: none;
	padding-top: 0;
	gap: 70px;
}

/* TODO replace magic numbers with variables */
.certificationsCardContent {
	padding-top: calc(286px - 64px + 50px);

	@media screen and (max-width: 62.5rem) {
		padding-top: 64px;
	}
}

.certificationsGraphic {
	left: 0;
	position: absolute;
	right: 0;
	top: -64px;
	width: 100%;
}

.certificationsCardContentText {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	composes: hds-font-weight-bold from global;
	font-family: var(--token-typography-display-400-font-family);
	font-size: var(--token-typography-display-400-font-size);
	line-height: var(--token-typography-display-400-line-height);
	margin: 0;
	padding: 0;

	@media (--dev-dot-tablet-down) {
		font-family: var(--token-typography-display-300-font-family);
		font-size: var(--token-typography-display-300-font-size);
		line-height: var(--token-typography-display-300-line-height);
	}
}

.body {
	composes: hds-font-weight-regular from global;
	font-family: var(--token-typography-body-300-font-family);
	font-size: var(--token-typography-body-300-font-size);
	line-height: var(--token-typography-body-300-line-height);
	margin: 0;
	padding: 0;

	@media (--dev-dot-tablet-down) {
		font-family: var(--token-typography-body-200-font-family);
		font-size: var(--token-typography-body-200-font-size);
		line-height: var(--token-typography-body-200-line-height);
	}
}
