.certificationsCard {
	border: none;
	padding-top: 0;
	gap: 70px;
}

/* TODO replace magic numbers with variables */
.certificationsCardContent {
	padding-top: calc(286px - 64px + 50px);
}

.certificationsGraphic {
	left: 0;
	position: absolute;
	right: 0;
	top: -64px;
	width: 100%;
}

.certificationsCardContentText {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
