.root {
	background: url('../../img/search-card-graphic.svg');
	background-color: var(--token-color-foreground-strong);
	background-size: cover;
	background-position: center top;
	border: 1px solid var(--token-color-foreground-strong);
	border-radius: 10px;
	padding-bottom: 18px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
}

.heading {
	margin-bottom: 8px;
}

.description {
	margin-bottom: 20px;

	/* to break up lines without using a <br /> */
	& span {
		display: block;
	}
}

.carousel {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.blurredBackground {
	backdrop-filter: blur(5px);
	background: linear-gradient(
			90deg,
			rgba(13, 13, 21, 0) -0.96%,
			rgba(13, 13, 21, 0.42) 20.63%,
			rgba(13, 13, 21, 0.4) 79.73%,
			rgba(13, 13, 21, 0) 104.43%
		),
		#2a283a40;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.fadedBackground {
	background: linear-gradient(
		to right,
		#2a283a40 10%,
		transparent 40%,
		transparent 60%,
		#2a283a40 90%
	);
	bottom: 0;
	left: 0;
	pointer-events: none; /* allow clicks to pass through this element */
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.buttonContainer {
	align-items: center;
	display: flex;
	gap: 24px;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 38px;
	padding-top: 38px;
	position: relative;

	/* 500px with 16px base font */
	@media screen and (max-width: 31.25rem) {
		gap: 12px;
	}

	/* Only enable animation if query is supported and value is no-preference */
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}

	/* spacers that enable the first/last buttons to be centered */
	&::before,
	&::after {
		content: '';
		min-height: 1px;
		min-width: 300px;
	}
}

.button {
	/* composition */
	composes: g-focus-ring-from-box-shadow-dark from global;

	/* properties */
	background: linear-gradient(
		to right,
		#19182259,
		#7b42bc59,
		#63d0ff59,
		#dc477d59,
		#ffd81459,
		#ec585d59,
		#60dea959,
		#14c6cb59,
		#0850c559,
		#45416100
	); /* TODO - are these tokens? */

	border-radius: 10px;
	border: none;
	color: var(--token-color-palette-neutral-0);
	opacity: 0.5;
	padding: 1px 0;
	z-index: 1;

	@media (--dev-dot-mobile) {
		/**
    * @TODO replace magic numbers with variables
    *   - 44px is ideal touch target for next/previous button
    *   - 12px is the gap between buttons
    */
		min-width: calc(100% - 2 * 44px - 2 * 12px);
	}

	/* Only enable animation if query is supported and value is no-preference */
	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 120ms ease-in-out;
	}

	&:focus,
	&:focus-visible,
	&.currentButton {
		opacity: 1;
		z-index: 3;
	}
}

.buttonContent {
	align-items: center;
	background-color: var(--token-color-foreground-strong);
	border-radius: inherit;
	display: flex;
	gap: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 16px;

	/* 700px with 16px base font */
	@media screen and (max-width: 43.75rem) {
		align-items: flex-start;
		flex-direction: column;
	}
}

.buttonText {
	text-align: left;
	white-space: nowrap;

	/* 700px with 16px base font */
	@media screen and (max-width: 43.75rem) {
		white-space: unset;
	}

	/* 500px with 16px base font */
	@media screen and (max-width: 31.25rem) {
		word-break: break-word;
	}
}

.positionIndicatorBar {
	align-items: center;
	bottom: 12px;
	display: flex;
	gap: 10px;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 3;
}

.positionIndicator {
	background-color: #8a8ea0; /* TODO - a token? */
	border-radius: 5px;
	height: 6px;
	width: 10px;

	/* Only enable animation if query is supported and value is no-preference */
	@media (prefers-reduced-motion: no-preference) {
		transition: width 120ms ease-in-out, color 120ms ease-in-out;
	}

	&.currentPositionIndicator {
		background-color: #d2d5e2; /* TODO - a token? */
		width: 26px;
	}
}
