.searchCard {
	background: url('../../img/search-card-graphic.svg');
	border-radius: 10px;
	box-shadow: none;
	padding-bottom: 18px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
}

.searchCardText {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 20px;
}

.searchCardCarousel {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.searchCardCarouselBackground {
	backdrop-filter: blur(5px);
	background: linear-gradient(
			90deg,
			rgba(13, 13, 21, 0) -0.96%,
			rgba(13, 13, 21, 0.42) 20.63%,
			rgba(13, 13, 21, 0.4) 79.73%,
			rgba(13, 13, 21, 0) 104.43%
		),
		#2a283a40;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.fadedBackground {
	background: linear-gradient(
		to right,
		#2a283a40 10%,
		transparent 40%,
		transparent 60%,
		#2a283a40 90%
	);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	pointer-events: none;
}

.searchCardButtonContainer {
	align-items: center;
	display: flex;
	gap: 24px;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 38px;
	padding-top: 38px;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

	&::before,
	&::after {
		content: '';
		min-height: 1px;
		min-width: 300px;
	}
}

.searchCardButton {
	/* composition */
	composes: g-focus-ring-from-box-shadow-dark from global;

	/* properties */
	background: linear-gradient(
		to right,
		#19182259,
		#7b42bc59,
		#63d0ff59,
		#dc477d59,
		#ffd81459,
		#ec585d59,
		#60dea959,
		#14c6cb59,
		#0850c559,
		#45416100
	);
	border-radius: 10px;
	color: var(--token-color-palette-neutral-0);
	border: none;
	scroll-snap-align: center;
	padding: 1px 0;
	opacity: 0.5;
	z-index: 1;
	transition: opacity 120ms ease-in-out;

	&:focus,
	&:focus-visible,
	&.currentSearchCardButton {
		opacity: 1;
		z-index: 3;
	}
}

.buttonContent {
	align-items: center;
	background-color: var(--token-color-foreground-strong);
	border-radius: inherit;
	display: flex;
	gap: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 16px;
}

.positionIndicatorBar {
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.positionIndicator {
	background-color: #8a8ea0;
	border-radius: 5px;
	height: 6px;
	width: 10px;
	transition: width 120ms ease-in-out, color 120ms ease-in-out;

	&.currentPositionIndicator {
		background-color: #d2d5e2;
		width: 26px;
	}
}
