/* TODO: use variables & math for height/positioning */
.filterInput {
  height: 38px;
  margin-bottom: 24px;
  position: relative;

  & .filterIcon,
  & .clearButton,
  & .clearIcon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  & .filterIcon,
  & .clearButton {
    color: var(--gray-foreground-tertiary);
    position: absolute;
    top: calc((38px - 16px) / 2);
  }

  & .filterIcon {
    left: 8px;
  }

  & .clearButton {
    background-color: transparent;
    border: none;
    display: flex;
    height: 16px;
    padding: 0;
    right: 8px;
    width: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  /* TODO: use variables & math for padding */
  & input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--gray-foreground-primary);
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 9px;
    padding-left: 32px;
    padding-right: 8px;
    padding-top: 9px;
    position: relative;
    width: 100%;

    &::placeholder {
      color: var(--gray-foreground-tertiary);
    }

    &:hover,
    &:not([value='']) {
      border: 1px solid var(--gray-foreground-quaternary);
      cursor: pointer;
    }

    &:focus {
      border: 1px solid var(--blue-vibrant);
      box-shadow: 0 0 0 3px #a5c2f3;
      outline: none;
    }
  }
}
