/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	/* Note: overlap is declared here, so that both the overlapping sections
	   can access the same values consistently. */
	--programs-hero-overlap: 72px;
	--programs-faq-overlap: 80px;

	/* Adjust section overlap based on viewport size */
	@media (--dev-dot-desktop) {
		--programs-faq-overlap: 128px;
	}

	background-color: var(--mds-color-surface-faint);

	@nest html[data-theme='dark'] & {
		background-color: var(--mds-color-surface-primary);
	}
}

.signupForm {
	margin-top: 72px;
	padding-bottom: 108px;

	@media (--dev-dot-tablet) {
		margin-top: 40px;
	}

	@media (--dev-dot-mobile) {
		margin-top: 24px;
	}
}
