.header {
	align-items: center;
	display: flex;
	gap: 8px;
	padding: 16px;
}

.icon {
	flex-shrink: 0;
}

.input {
	appearance: none;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	color: var(--token-color-foreground-primary);
	font-family: var(--token-typography-body-300-font-family);
	font-size: var(--token-typography-body-300-font-size);
	font-weight: var(--token-typography-font-weight-medium);
	line-height: var(--token-typography-body-300-line-height);
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;

	&::placeholder {
		color: var(--token-color-foreground-disabled);
		font-family: var(--token-typography-body-300-font-family);
		font-size: var(--token-typography-body-300-font-size);
		font-weight: var(--token-typography-font-weight-medium);
		line-height: var(--token-typography-body-300-line-height);
	}
}

.badges {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	gap: 4px;
}
