:root {
  --navigation-header-link-color: #a7aab4;

  /* Grays */
  --gray-foreground-primary: #0c0c0e;
  --gray-foreground-secondary: #3b3d45;
  --gray-foreground-tertiary: #656a76;
  --gray-foreground-quaternary: #8c909c;
  --gray-background-secondary: #f1f2f3;

  /* Blues */
  --blue-vibrant: #1f69ff;
}
