/*

NOTE

.ds-token-elevation classes are temporary stopgaps
while the design system team figures out the distribution plan
for grouping elevation tokens.
  
These are not yet available from
hashicorp/design-system-tokens.

*/

.ds-token-elevation-mid {
  box-shadow: var(--token-elevation-mid-shadow-01-x)
      var(--token-elevation-mid-shadow-01-y)
      var(--token-elevation-mid-shadow-01-blur)
      var(--token-elevation-mid-shadow-01-spread)
      var(--token-elevation-mid-shadow-01-color),
    var(--token-elevation-mid-shadow-02-x)
      var(--token-elevation-mid-shadow-02-y)
      var(--token-elevation-mid-shadow-02-blur)
      var(--token-elevation-mid-shadow-02-spread)
      var(--token-elevation-mid-shadow-02-color);
  border-width: var(--token-elevation-mid-border-width);
  border-style: solid;
  border-color: var(--token-elevation-mid-border-color);
}
