:root {
  --input-height: 38px;
  --input-icon-size: 16px;
  /* NOTE: The --navigation-header-height
    and --alert-bar-height may be brittle.
    See layouts/base-new/base-new-layout.module.css
    comments for details */
  --navigation-header-height: 80px;
  --alert-bar-height: 72px;
}
