/**
 * NOTE
 * 
 * .ds-token-typography classes are temporary stopgaps
 * while the design system team figures out the distribution plan
 * for grouping typography tokens.
 *   
 * These are not yet available from
 * hashicorp/design-system-tokens.
 * 
 **/

/**
 * NOTE: font-weight tokens are not a design-system blessed thing,
 * have just swiped from the MDN "common name mapping" for now,
 * as it seems to align with the font styles and names that
 * designers are using in Figma.
 * ref: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
 **/
:root {
  --ds-token-font-weight-thin: 100;
  --ds-token-font-weight-extralight: 200;
  --ds-token-font-weight-light: 300;
  --ds-token-font-weight-normal: 400;
  --ds-token-font-weight-medium: 500;
  --ds-token-font-weight-semibold: 600;
  --ds-token-font-weight-bold: 700;
  --ds-token-font-weight-extrabold: 800;
  --ds-token-font-weight-black: 900;
  --ds-token-font-weight-extrablack: 950;
}

.ds-token-typography-heading-0 {
  font-family: var(--token-typography-heading-0-font-family);
  font-size: var(--token-typography-heading-0-font-size);
  line-height: var(--token-typography-heading-0-line-height);
  font-weight: var(--token-typography-heading-0-font-weight);
}

.ds-token-typography-heading-3 {
  font-family: var(--token-typography-heading-3-font-family);
  font-size: var(--token-typography-heading-3-font-size);
  line-height: var(--token-typography-heading-3-line-height);
  font-weight: var(--token-typography-heading-3-font-weight);
}

.ds-token-typography-body-small {
  font-family: var(--token-typography-body-small-font-family);
  font-size: var(--token-typography-body-small-font-size);
  line-height: var(--token-typography-body-small-line-height);
  font-weight: var(--token-typography-body-small-font-weight);
}

.ds-token-typography-body-base {
  font-family: var(--token-typography-body-base-font-family);
  font-size: var(--token-typography-body-base-font-size);
  line-height: var(--token-typography-body-base-line-height);
  font-weight: var(--token-typography-body-base-font-weight);
}

.ds-token-typography-body-large {
  font-family: var(--token-typography-body-large-font-family);
  font-size: var(--token-typography-body-large-font-size);
  line-height: var(--token-typography-body-large-line-height);
  font-weight: var(--token-typography-body-large-font-weight);
}

h1,
h2 {
  color: var(--token-color-neutral-foreground-primary);
  font-weight: var(--token-typography-font-weight-bold);
}

h1 {
  font-size: var(--token-typography-display-500-font-size);
  line-height: var(--token-typography-display-500-line-height);
}

h2 {
  font-size: var(--token-typography-display-400-font-size);
  line-height: var(--token-typography-display-400-line-height);
}
