/*

NOTE

.ds-token-typography classes are temporary stopgaps
while the design system team figures out the distribution plan
for grouping typography tokens.
  
These are not yet available from
hashicorp/design-system-tokens.

*/

.ds-token-typography-body-small {
  font-family: var(--token-typography-body-small-font-family);
  font-size: var(--token-typography-body-small-font-size);
  line-height: var(--token-typography-body-small-line-height);
  font-weight: var(--token-typography-body-small-font-weight);
}
