.badges {
	display: inline-flex;
	align-items: baseline;
	gap: var(--mds-spacing-01);
}

.label {
	display: flex;
	gap: var(--mds-spacing-01);
	flex-wrap: wrap;
	max-width: 100%;
	color: var(--token-form-label-color);
	composes: token-typography-body-200 from global;
	composes: mds-typography-font-weight-semibold from global;
}
