.width-full {
	width: 100%;
	max-width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: max-content; /* notice: this is important because being in a position absolute means the layout algorithm assigns a width of 0 and this impacts on the flex algorithm of the children (in some cases they don't use the full width) */
	min-width: 200px;
	max-width: 400px;
	background-color: var(--token-color-surface-primary);
	border-radius: 6px;
	box-shadow: var(--token-surface-high-box-shadow);
}

.content-fixed-width {
	min-width: initial;
	max-width: initial;
}

.content-position-bottom-right,
.content-position-right {
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	z-index: 3;
}

.content-position-bottom-left,
.content-position-left {
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	z-index: 3;
}

.content-position-top-right {
	position: absolute;
	right: 0;
	bottom: calc(100% + 4px);
	z-index: 3;
}

.content-position-top-left {
	position: absolute;
	bottom: calc(100% + 4px);
	left: 0;
	z-index: 3;
}

.list {
	flex: 1 1 auto;
	margin: 0;
	padding: 4px 0;
	overflow-y: auto;
	list-style: none;
	overscroll-behavior: contain;
}

.header,
.footer {
	position: relative;
	flex: none;
	padding: 8px;
}

.header-with-divider {
	border-bottom: 1px solid var(--token-color-border-primary);
}

.footer-with-divider {
	border-top: 1px solid var(--token-color-border-primary);
}