/*
***
* Remainder of styles in .root are for docs content. We likely want to convert
* these to MDX components.
*
* Asana task: https://app.asana.com/0/1201010428539925/1201653123138729/f
***
*/
.root {
	composes: hds-typography-body-300 from global;

	& :global {
		/* Note on alert overrides: alert classes are applied at content
       extraction time, so it is currently difficult to remove or modify these
       classes and their associated styles rather than override them.
       https://app.asana.com/0/1100423001970639/1202448738938137/f */

		/* Alert override:  letter-spacing, which in global styles is tracked out */
		& .alert.g-type-body {
			letter-spacing: 0;
		}

		/* Alert override: blue info alert appearance */
		& .alert.alert-info {
			background-color: #f2f8ff;
			border: 1px solid #cce3f3;
			border-radius: 6px;
			color: var(--token-color-palette-neutral-600);
			padding: 16px;
			margin: 20px 0;

			& code {
				background-color: white;
				border: 1px solid #cce3fe;
				border-radius: 5px;
			}

			& p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	/**
   * Note: <h{n} /> styles have been moved to
   * ./mdx-components/mdx-headings.
   */

	/**
   * Note: <ol />, <ul />, & <li /> styles have been moved to
   * ./mdx-components/mdx-lists.
   */

	& blockquote {
		margin: 32px 0;
		padding-left: 14px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-left: 2px solid var(--token-color-border-primary);
	}
}
