/*
***
* Remainder of styles in .root are for docs content. We likely want to convert
* these to MDX components.
*
* Asana task: https://app.asana.com/0/1201010428539925/1201653123138729/f
***
*/
.root {
  composes: hds-typography-body-300 from global;

  /* BEGIN move to <a /> MDX custom component */
  & :global {
    & a.__permalink-h {
      display: none;
    }
  }

  /* END move to <a /> MDX custom component */

  /* BEGIN move to Heading aka <h{n} />  MDX custom component */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    --permalink-scroll-offset: 24px;
    --full-header-height: calc(
      var(--navigation-header-height) + var(--alert-bar-height)
    );
    --height: calc(var(--full-header-height) + var(--permalink-scroll-offset));

    /*
    Because not all jump link headings have an anchor child, such as the ones on
    the product landing pages
    */
    scroll-margin-top: var(--height);

    & a:global(.__target-h) {
      scroll-margin-top: var(--height);
    }
  }

  /* END move to Heading aka <h{n} />  MDX custom component */

  /* BEGIN move to <ol>, <ul>, & MAYBE even <li> custom components */
  & ul,
  & ol {
    margin: 24px 0;
    padding-left: 24px;

    & li {
      color: var(--token-color-foreground-primary);

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      & ul,
      & ol {
        margin: 16px 0;
      }
    }
  }

  /* END move to <ol>, <ul>, & MAYBE even <li> custom components */

  /* BEGIN move to inline <code> custom component  */

  /* inline code elements */
  & code {
    background-color: var(--token-color-palette-neutral-50);
    border-radius: 5px;
    border: 1px solid rgba(101, 106, 118, 0.2);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 2px 4px;
  }

  /* END move to inline <code> custom component  */

  /* BEGIN move to <pre> custom component (possibly already handled?)  */

  /* code blocks */
  & pre {
    border-radius: 5px;

    & code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }

  /* END move to <pre> custom component (possibly already handled?)  */

  /* BEGIN move to <table> custom component */
  & table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    & th {
      text-align: left;
    }

    & td,
    & th {
      border-right: 1px solid #ddd;
      padding: 0;
    }

    & > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }

    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    & > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }

    & > caption + thead > tr:first-child > th,
    & > colgroup + thead > tr:first-child > th,
    & > thead:first-child > tr:first-child > th,
    & > caption + thead > tr:first-child > td,
    & > colgroup + thead > tr:first-child > td,
    & > thead:first-child > tr:first-child > td {
      border-top: 0;
      border-right: 1px solid #ddd;
    }

    & > tbody + tbody {
      border-top: 2px solid #ddd;
    }

    & table {
      background-color: #fff;
    }

    & tr.warning td {
      background: #fcf8e3;
    }
  }
}

/* END move to <table> custom component */

/*
***
* The following classes are for handling color and margin styles for heading and
* paragraph elements in DevDot. Note that they are made available for use
* outside of DevDotContent because not every page with DevDotContent uses these
* styles (e.g., product landing pages).
***
*/
.h1 {
  color: var(--token-color-foreground-strong);
  margin-bottom: 12px;
}

.h2 {
  color: var(--token-color-foreground-strong);
  margin-bottom: 12px;
  margin-top: 48px;
}

.h3 {
  color: var(--token-color-foreground-strong);
  margin-bottom: 8px;
  margin-top: 32px;
}

.h4,
.h5,
.h6 {
  color: var(--token-color-foreground-primary);
  margin-bottom: 8px;
  margin-top: 24px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* BEGIN possibly remove these sibling selectors,
     & ask design for per-element rather than per-element-pair spacing rules  */
  & + ul,
  & + ol {
    margin-top: 12px;
  }

  & + p {
    margin-top: 0;
  }

  /* END possibly remove these sibling selectors,
     & ask design for per-element rather than per-element-pair spacing rules  */

  /*
  TODO: these values are a special request from design for the purposes of the
  inital preview. They make <code> elements within heading elements a little
  less jarring.
  */

  /* BEGIN move to Heading aka <h{n} />  MDX custom component */
  & code {
    font-size: 0.6em;
    font-weight: 500;
  }

  /* END move to Heading aka <h{n} />  MDX custom component */
}

/* BEGIN move to <p> custom component (loose wrapper around Text) */
.p {
  color: var(--token-color-foreground-primary);
  margin: 16px 0;
}

/* END move to <p> custom component (loose wrapper around Text) */
