/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.heading {
	color: var(--token-color-consul-foreground);
	margin-bottom: 4px;
}

.cta {
	margin-top: 16px;
	width: fit-content;
}

.downloadToolsCardDescription {
	color: var(--mds-color-foreground-faint);
}

.card {
	padding: 16px;
}
