.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 20px;
}

.heading {
	color: var(--token-color-foreground-strong);
}

.subheading {
	color: var(--token-color-foreground-primary);
}
