.root {
	composes: hds-typography-body-300 from global;
	color: var(--token-color-foreground-primary);
	border: 0;
	padding: 0;
	margin: 0;

	& > * {
		padding: 6px 0;
		vertical-align: middle;
	}
}

.label {
	composes: hds-typography-body-100 from global;
	composes: hds-font-weight-semibold from global;
	display: block;
	margin-bottom: 8px;
	padding: 0;
}
