.splitCardSection {
	padding: 24px 0;
}

.heading {
	border: 1px solid magenta;
	margin: 0;
}

.description {
	composes: hds-typography-body-300 from global;
	font-weight: var(--token-typography-font-weight-medium);
	color: var(--token-color-foreground-primary);
	margin: 0;
}

.buttonGroup {
	margin-top: 16px;
}
