.root {
	--shadow-height: 40px;
	--shadow-blocker-height: calc(var(--shadow-height) * 2);

	/* Semi-transparent tokens. Note for dev, using garish colours. */
	--surface-transparent: rgba(255, 255, 0, 0); /* would be white, not yellow */
	--surface-opaque: rgba(255, 255, 0, 1); /* would be fully opaque */
	--shadow-transparent: rgba(255, 0, 255, 0); /* would be gray, not magenta */
	--shadow-opaque: rgba(255, 0, 255, 1);

	/* Note: max-sidecar-height is set in sidebar-sidecar-layout.module.css. */
	max-height: var(--max-sidecar-height);
	width: 100%;
	overflow-y: auto;

	/* Note: 1px padding is necessary for box-shadow border styles to appear
	   correctly. Another option might be to add even more padding...
		 technically the box-shadows are still cut off, but for the style
		 of box-shadow we use in sidecar, it doesn't seem to matter much */
	padding: 1px;
	position: relative;
	background:
    /* Scrim blocker TOP. Covers up the shadow at the start scroll posn. */ linear-gradient(
				var(--surface-opaque) 50%,
				var(--surface-transparent)
			)
			center top,
		/* Scrim blocker BOTTOM. Covers up the shadow at the end scroll posn. */
			linear-gradient(var(--surface-transparent), var(--surface-opaque) 50%)
			center bottom,
		/* Scrim TOP */
			radial-gradient(
				farthest-side at 50% 0,
				var(--shadow-opaque),
				var(--shadow-transparent)
			)
			center top,
		/* Scrim BOTTOM */
			radial-gradient(
				farthest-side at 50% 100%,
				var(--shadow-opaque),
				var(--shadow-transparent)
			)
			center bottom;
	background-repeat: no-repeat;

	/* Size and position:
	   - blockers positioned "local" (scrolls with content)
		 - shadows positioned "scroll" (only at start and end of scroll container) */
	background-size: 100% var(--shadow-blocker-height),
		100% var(--shadow-blocker-height), 100% var(--shadow-height),
		100% var(--shadow-height);
	background-attachment: local, local, scroll, scroll;
}
