/*
We are using a wrapper here to enable horizontal scrolling while still retaining full width tables

TODO: implement a more accessible horizontal overflow solution as KB-only users aren't able to focus and scroll these elements
*/

.tableWrapper {
	--bg: var(--token-color-palette-neutral-50);
	--border: var(--token-color-palette-alpha-200);
	--radius: 6px;

	overflow-x: auto;

	& table {
		border-spacing: 0;
		width: 100%;

		& thead {
			& th {
				padding: 8px 12px;
				background: var(--bg);
				border-bottom: 1px solid var(--border);
				border-top: 1px solid var(--border);
				border-right: 1px solid var(--border);

				&:first-child {
					border-top-left-radius: var(--radius);
					border-left: 1px solid var(--border);
				}

				&:last-child {
					border-top-right-radius: var(--radius);
				}
			}
		}
		& tbody {
			& tr {
				& td {
					padding: 8px 12px;
					border-bottom: 1px solid var(--border);
					border-right: 1px solid var(--border);

					&:first-child {
						border-left: 1px solid var(--border);
					}
				}

				&:nth-child(even) {
					background: var(--bg);
				}

				&:last-child {
					& td:first-child {
						border-bottom-left-radius: var(--radius);
					}
					& td:last-child {
						border-bottom-right-radius: var(--radius);
					}
				}
			}
		}
	}
}
