.root {
  width: fit-content;
  position: relative;
}

.activatorWrapper {
  padding-bottom: 16px;
  padding-top: 16px;
}

.activator {
  /* Composition */
  composes: g-focus-ring-from-box-shadow-dark from global;

  /* CSS properties */
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  display: flex;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;

  &[aria-expanded='true'] {
    & .activatorText {
      color: var(--token-color-surface-primary);
    }

    & .activatorTrailingIcon {
      color: var(--token-color-surface-primary);
      transform: rotate(-180deg);
    }
  }
}

.activatorText {
  color: var(--token-color-palette-neutral-400);
  margin-right: 6px;
}

.activatorLeadingIcon {
  margin-right: 4px;
}

.activatorTrailingIcon {
  color: var(--token-color-palette-neutral-400);

  /* Only enable animation if query is supported and value is no-preference */
  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.2s ease-in-out;
  }
}

.dropdownContainer {
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: var(--token-elevation-higher-box-shadow);
  min-width: 252px;
  padding: 16px;
  position: absolute;
}

.itemGroupDivider {
  margin-bottom: 20px;
  margin-top: 20px;
}

.itemGroup {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemLink {
  /* Composition */
  composes: g-focus-ring-from-box-shadow from global;

  /* CSS Properties */
  align-items: center;
  border-radius: 5px;
  color: var(--token-color-foreground-primary);
  display: flex;
  padding: 8px;
  text-decoration: none;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  &:hover {
    color: var(--token-color-foreground-strong);
    text-decoration: underline;
  }
}

.itemText {
  margin-left: 8px;
}
