.chat {
	height: 100%;
	background: var(--token-color-palette-neutral-100);
	display: flex;
	flex-direction: column;
	z-index: 9999;
	justify-content: space-between;
}

.welcome {
	background-color: hsla(228, 0%, 98%, 1);
	background-image: radial-gradient(
			at 99% 9%,
			hsla(255, 64%, 63%, 0.07) 0px,
			transparent 50%
		),
		radial-gradient(at 0% 99%, hsla(240, 93%, 63%, 0.08) 0px, transparent 50%),
		radial-gradient(at 99% 29%, hsla(283, 52%, 87%, 0.43) 0px, transparent 50%),
		radial-gradient(at 63% 54%, hsla(239, 67%, 96%, 0.66) 0px, transparent 50%),
		radial-gradient(at 0% 8%, hsla(30, 92%, 80%, 0.31) 0px, transparent 50%),
		radial-gradient(at 0% 54%, hsla(0, 76%, 79%, 0.22) 0px, transparent 50%),
		radial-gradient(at 0% 81%, hsla(331, 93%, 67%, 0.11) 0px, transparent 50%);

	@nest html[data-theme='dark'] & {
		background-color: hsla(228, 15%, 6%, 1);
		background-image: radial-gradient(
				at 49% 1%,
				hsla(240, 87%, 4%, 0.64) 0px,
				transparent 50%
			),
			radial-gradient(at 99% 0%, hsla(255, 64%, 63%, 0.14) 0px, transparent 50%),
			radial-gradient(at 0% 99%, hsla(240, 93%, 63%, 0.14) 0px, transparent 50%),
			radial-gradient(at 98% 3%, hsla(283, 28%, 11%, 0.24) 0px, transparent 50%),
			radial-gradient(at 0% 71%, hsla(239, 87%, 3%, 0.66) 0px, transparent 50%),
			radial-gradient(at 94% 98%, hsla(233, 76%, 4%, 1) 0px, transparent 50%),
			radial-gradient(at 0% 0%, hsla(30, 92%, 80%, 0.61) 0px, transparent 50%),
			radial-gradient(at 0% 54%, hsla(0, 76%, 79%, 0.22) 0px, transparent 50%),
			radial-gradient(at 0% 81%, hsla(331, 93%, 67%, 0.11) 0px, transparent 50%);
	}

	height: 100%;
	display: flex;
	padding: 16px 120px;
	align-items: center;
	gap: 84px;
	flex: 1 0 0;
	flex-direction: row;

	@media (--dev-dot-mobile) {
		flex-direction: column;
		padding: 24px 24px;
		align-items: stretch;

		.col {
			justify-content: start;
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
	}

	.col.left {
		/* background: orange; */
		& h3 {
			color: var(--token-color-foreground-strong, #0c0c0e);
			/* Display/400/Medium */
			font-family: var(--token-typography-display-400-font-family);
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 32px; /* 133.333% */

			margin: 0;
		}
		& p {
			color: var(--token-color-foreground-faint, #656a76);
			/* Body/100/Medium */
			font-family: var(--token-typography-body-100-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px; /* 138.462% */

			margin: 0;
		}
		& .copy {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}
	.col.right {
		/* background: green; */
		min-width: 53%;

		& .row {
			display: flex;
			align-items: flex-start;
			gap: 12px;

			& .rowText {
				& .rowTextHeading {
					color: var(--token-color-foreground-strong, #0c0c0e);
					/* Display/100/Medium */
					font-family: var(--token-typography-display-100-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: 18px; /* 138.462% */

					margin: 0;
				}
				& .rowTextBody {
					color: var(--token-color-foreground-faint, #656a76);
					/* Body/100/Regular */
					font-family: var(--token-typography-body-100-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 138.462% */

					margin: 0;
				}
			}
		}
	}
}

.message_list {
	overflow-y: auto;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.message_content {
	padding-top: 10px; /* simulate vertically centering the first line with avatar/icon */
	display: flex;
	flex: 1;
	flex-direction: column;
}
.message_user_input {
	white-space: pre-line; /* visually respect user-inputted line breaks */
}
.message_markdown {
	& p {
		margin: 0;
	}

	& pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
}

.message_gutter {
	min-width: 40px;
}
.arrowdown {
	position: absolute;
	top: -52px;
	right: 20px;
}

.message_AssistantMessageFooter {
	width: 100%;
	padding: 24px 0 0;
}
.message_AssistantMessageFooterHidden {
	display: none;
}

/* message  */
.message {
	display: flex;
	flex-direction: row;
	gap: 12px;
	padding: 20px 16px;
	background: var(--token-color-palette-neutral-0);
}

.message_user {
	color: var(--token-color-foreground-primary, #3b3d45);
	/* Body/200/Medium */
	font-family: var(--token-typography-body-200-font-family);
	font-size: var(--token-typography-body-200-font-size);
	font-style: normal;
	font-weight: 500;
	line-height: var(--token-typography-body-200-line-height);

	border-bottom: 1px solid var(--token-color-palette-neutral-300);
}

.message_assistant {
	color: var(--token-color-foreground-primary, #3b3d45);
	/* Body/200/Medium */
	font-family: var(--token-typography-body-200-font-family);
	font-size: var(--token-typography-body-200-font-size);
	font-style: normal;
	font-weight: 500;
	line-height: var(--token-typography-body-200-line-height);

	background: var(--token-color-surface-strong); /* #f1f2f3 */
}

.message_avatar,
.message_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.message_icon {
	--icon-color: var(--token-color-foreground-highlight-on-surface, #911ced);
}
.message_icon_error {
	--icon-color: var(--token-color-foreground-critical);
}

.message_divider {
	display: block;
	width: 100%;
	border-bottom: 1px solid var(--token-color-palette-neutral-300);
	margin-bottom: 24px;
}

.message_actionButtons {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.message_feedbackForm {
	&.message_feedbackFormVisible {
		margin-top: 30px;
	}
}

.bottom {
	position: relative; /* for absolute positioned */
	padding: 16px 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: var(--token-color-surface-primary, #ffffff);
	border-top: 1px solid var(--token-color-border-primary);
}

.question {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 8px 0;
	gap: 12px;
	background: var(--token-color-surface-primary, #ffffff);
}
.question_icon {
	height: 40px;
	width: 40px;
	padding: 8px;

	/* See prior art: https://hashicorp-mktg.sourcegraph.com/github.com/hashicorp/web/-/blob/apps/www/views/state-of-the-cloud/2021/components/hero/style.module.css?L18-19 */
	& :global(.loading) {
		animation: hds-flight-icon-animation-rotation 9s linear infinite;
		animation-duration: 0.7s;
	}
}

@keyframes hds-flight-icon-animation-rotation {
	100% {
		transform: rotate(360deg);
	}
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.textarea {
	composes: g-focus-ring-from-box-shadow from global;
	appearance: none;
	border-radius: 5px;
	padding: 8px 4px;

	display: flex;
	flex: 1;
	height: 100%;
	resize: none;
	background: transparent;
	font-weight: var(--token-typography-font-weight-medium, 500);
	line-height: var(--token-typography-body-300-line-height, 1.5);
	font-size: var(--token-typography-body-300-font-size, 16px);
	font-family: var(--token-typography-body-300-font-family);
}
.button {
	height: 24px;
	width: 24px;
	background: transparent;
	&:focus {
		outline: auto;
	}
}

.disclaimer {
	display: block;
	padding: 8px 0px 0px 10px;
	color: var(--token-color-foreground-faint); /* #656a76 */
	font-size: var(--token-typography-display-100-font-size); /* 13px/0.8125rem */
	font-weight: var(--token-typography-font-weight-regular); /* 400 */
	line-height: var(--token-typography-body-100-line-height); /* 1.3846 / 18px */
	font-family: var(--token-typography-display-400-font-family);
}

/* button styles */
/* background-color: var(--token-color-surface-faint);*/
/* border-color: var(--token-color-border-strong); */
/* box-shadow: var(--token-elevation-low-box-shadow); */
/* color: var(--token-color-foreground-primary); */
.rating_like {
	border: 1px solid var(--token-color-border-success) !important;
	background: var(--token-color-surface-success) !important;
	color: var(--token-color-foreground-success) !important;
}
.rating_dislike {
	border: 1px solid var(--token-color-border-critical) !important;
	background: var(--token-color-surface-critical) !important;
	color: var(--token-color-foreground-critical) !important;
}
