.chat {
	height: 100%;
	background: var(--token-color-palette-neutral-100);
	display: flex;
	flex-direction: column;
	z-index: 9999;

	justify-content: space-between;
}

.emptyArea {
	background: var(--page-primary, #fff);
	height: 100%;
	display: flex;
	padding: 16px 120px;
	align-items: center;
	gap: 84px;
	flex: 1 0 0;
	flex-direction: row;

	@media (--dev-dot-mobile) {
		flex-direction: column;
		padding: 24px 24px;
		align-items: stretch;

		.col {
			justify-content: start;
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
	}

	.col.left {
		/* background: orange; */
		& h3 {
			color: var(--foreground-strong, #0c0c0e);
			/* Display/400/Medium */
			font-family: var(--token-typography-display-400-font-family);
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 32px; /* 133.333% */

			margin: 0;
		}
		& p {
			color: var(--foreground-faint, #656a76);
			/* Body/100/Medium */
			font-family: var(--token-typography-body-100-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px; /* 138.462% */

			margin: 0;
		}
		& .copy {
			gap: 8px;
		}
	}
	.col.right {
		/* background: green; */
		min-width: 53%;

		& .row {
			display: flex;
			align-items: flex-start;
			gap: 12px;

			& .rowText {
				& .rowTextHeading {
					color: var(--foreground-strong, #0c0c0e);
					/* Display/100/Medium */
					font-family: var(--token-typography-display-100-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: 18px; /* 138.462% */

					margin: 0;
				}
				& .rowTextBody {
					color: var(--foreground-faint, #656a76);
					/* Body/100/Regular */
					font-family: var(--token-typography-body-100-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 138.462% */

					margin: 0;
				}
			}
		}
	}
}

.chatbody {
	background: red;
	overflow-y: auto;
	max-height: 100%;
}

.message_content {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.message_markdown {
	& p {
		margin: 0;
	}

	& pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
}
.message_gutter {
	margin-right: 44px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.message_AssistantMessageFooter {
	width: 100%;
	padding: 24px 0 0;
}
.message_AssistantMessageFooterHidden {
	display: none;
}

/* message  */
.message {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	background: var(--token-color-palette-neutral-0);
}

.message_user {
	color: var(--foreground-primary, #3b3d45);
	/* Body/300/Medium */
	font-family: var(--token-typography-body-300-font-family);
	font-size: var(--token-typography-body-300-font-size);
	font-style: normal;
	font-weight: 500;
	line-height: var(--token-typography-body-300-line-height);

	padding: 24px 0 24px 24px;
	border-bottom: 1px solid var(--token-color-palette-neutral-300);
}

.message_assistant {
	color: var(--foreground-primary, #3b3d45);
	/* Body/200/Medium */
	font-family: var(--token-typography-body-200-font-family);
	font-size: var(--token-typography-body-200-font-size);
	font-style: normal;
	font-weight: 500;
	line-height: var(--token-typography-body-200-line-height);

	padding: 24px 0 24px 24px;
	background: var(--token-color-surface-strong); /* #f1f2f3 */
}

.message_avatar,
.message_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.message_icon {
	--icon-color: var(--foreground-highlight-on-surface, #911ced);
}

.message_divider {
	display: block;
	width: 100%;
	border-bottom: 1px solid var(--token-color-palette-neutral-300);
	margin-bottom: 24px;
}

.message_actionButtons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 16px;
}

.search-area {
	display: flex;
	align-items: center;
	background: var(--token-color-surface-primary); /* #ffffff */
	padding: 16px 24px 16px 24px;
	gap: 8px;
	border-bottom: 1px solid var(--token-color-border-primary);
}

.textarea {
	display: flex;
	flex: 1;
	height: 100%;
	resize: none;
	background: transparent;
	font-weight: var(--token-typography-font-weight-medium); /* 500 */
	line-height: var(--token-typography-body-300-line-height); /* 1.5 */
	font-size: var(--token-typography-display-400-font-size); /* 24px/1.5rem */
	font-family: var(--token-typography-display-500-font-family);
}
.button {
	height: 24px;
	width: 24px;
	background: transparent;
	&:focus {
		outline: auto;
	}
}

.bottom {
	padding: 16px 24px 16px 24px;
	background: var(--token-color-surface-faint);
}
.disclaimer {
	display: block;
	color: var(--token-color-foreground-faint); /* #656a76 */
	font-size: var(--token-typography-display-100-font-size); /* 13px/0.8125rem */
	font-weight: var(--token-typography-font-weight-regular); /* 400 */
	line-height: var(--token-typography-body-100-line-height); /* 1.3846 / 18px */
	font-family: var(--token-typography-display-400-font-family);
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.scroller {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	width: 100%;
	height: 100%;
}

.overlayContainer {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	pointer-events: none;
	touch-action: none;
	width: 100%;
	height: 100%;
	z-index: 2;
	transform: scale3d(1.01, 1.01, 1);
	overflow: hidden;

	--scroller-gradient: #fff 0, hsla(0, 0%, 100%, 0.7) 8px,
		hsla(0, 0%, 100%, 0.45) 14px, hsla(0, 0%, 100%, 0.3) 19px,
		hsla(0, 0%, 100%, 0.26) 21px, hsla(0, 0%, 100%, 0.19) 25px,
		hsla(0, 0%, 100%, 0.12) 29px, hsla(0, 0%, 100%, 0.06) 32px,
		hsla(0, 0%, 100%, 0.03) 34px, hsla(0, 0%, 100%, 0.02) 36px,
		hsla(0, 0%, 100%, 0.008) 38px, hsla(0, 0%, 100%, 0.002) 39px,
		hsla(0, 0%, 100%, 0) 40px;

	@nest :global([data-theme='dark']) & {
		/* #0d0e12 = 13	14 18 */
		--scroller-gradient: #0d0e12 0, rgba(13, 14, 18, 0.7) 8px,
			rgba(13, 14, 18, 0.45) 14px, rgba(13, 14, 18, 0.3) 19px,
			rgba(13, 14, 18, 0.26) 21px, rgba(13, 14, 18, 0.19) 25px,
			rgba(13, 14, 18, 0.12) 29px, rgba(13, 14, 18, 0.06) 32px,
			rgba(13, 14, 18, 0.03) 34px, rgba(13, 14, 18, 0.02) 36px,
			rgba(13, 14, 18, 0.008) 38px, rgba(13, 14, 18, 0.002) 39px,
			transparent 40px;
	}
}

/* Must come before */
.overlay::after {
	background: linear-gradient(to top, var(--scroller-gradient)),
		linear-gradient(to left, var(--scroller-gradient));
	background-position-x: calc(100% + 40px);
	background-position-y: calc(100% + 40px);
}
.overlay::before {
	background: linear-gradient(to bottom, var(--scroller-gradient)),
		linear-gradient(to right, var(--scroller-gradient));
	background-position-x: -40px;
	background-position-y: -40px;
}

/* Must come after, to take precedence */
.overlay::after,
.overlay::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	will-change: background;
	transition: background-position 0.3s ease;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.overlay.overlaytop::before {
	background-position-y: top;
}

.overlay.overlaybottom::after {
	background-position-y: bottom;
}
