.chat {
	height: 100%;
	background: var(--token-color-palette-neutral-100);
	display: flex;
	flex-direction: column;
	z-index: 9999;
	justify-content: space-between;
}

.welcome {
	background-color: hsla(228, 0%, 98%, 1);
	background-image: radial-gradient(
			at 99% 9%,
			hsla(255, 64%, 63%, 0.07) 0px,
			transparent 50%
		),
		radial-gradient(at 0% 99%, hsla(240, 93%, 63%, 0.08) 0px, transparent 50%),
		radial-gradient(at 99% 29%, hsla(283, 52%, 87%, 0.43) 0px, transparent 50%),
		radial-gradient(at 63% 54%, hsla(239, 67%, 96%, 0.66) 0px, transparent 50%),
		radial-gradient(at 0% 8%, hsla(30, 92%, 80%, 0.31) 0px, transparent 50%),
		radial-gradient(at 0% 54%, hsla(0, 76%, 79%, 0.22) 0px, transparent 50%),
		radial-gradient(at 0% 81%, hsla(331, 93%, 67%, 0.11) 0px, transparent 50%);

	@nest html[data-theme='dark'] & {
		background-color: hsla(228, 15%, 6%, 1);
		background-image: radial-gradient(
				at 49% 1%,
				hsla(240, 87%, 4%, 0.64) 0px,
				transparent 50%
			),
			radial-gradient(at 99% 0%, hsla(255, 64%, 63%, 0.14) 0px, transparent 50%),
			radial-gradient(at 0% 99%, hsla(240, 93%, 63%, 0.14) 0px, transparent 50%),
			radial-gradient(at 98% 3%, hsla(283, 28%, 11%, 0.24) 0px, transparent 50%),
			radial-gradient(at 0% 71%, hsla(239, 87%, 3%, 0.66) 0px, transparent 50%),
			radial-gradient(at 94% 98%, hsla(233, 76%, 4%, 1) 0px, transparent 50%),
			radial-gradient(at 0% 0%, hsla(30, 92%, 80%, 0.61) 0px, transparent 50%),
			radial-gradient(at 0% 54%, hsla(0, 76%, 79%, 0.22) 0px, transparent 50%),
			radial-gradient(at 0% 81%, hsla(331, 93%, 67%, 0.11) 0px, transparent 50%);
	}

	height: 100%;
	display: flex;
	padding: 16px 120px;
	align-items: center;
	gap: 84px;
	flex: 1 0 0;
	flex-direction: row;

	@media (--dev-dot-mobile) {
		flex-direction: column;
		padding: 24px 24px;
		align-items: stretch;

		.col {
			justify-content: start;
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;

		&.left {
			& h3 {
				color: var(--token-color-foreground-strong, #0c0c0e);
			}
			& p {
				color: var(--token-color-foreground-faint, #656a76);
			}
			& .copy {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}

		&.right {
			min-width: 53%;

			& .row {
				display: flex;
				align-items: flex-start;
				gap: 12px;

				& .rowText {
					& .rowTextHeading {
						color: var(--token-color-foreground-strong, #0c0c0e);
					}
					& .rowTextBody {
						color: var(--token-color-foreground-faint, #656a76);
					}
				}
			}
		}
	}
}

.message_list {
	overflow-y: auto;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.arrowdown {
	position: absolute;
	top: -52px;
	right: 20px;
}

.bottom {
	position: relative; /* for absolute positioned arrow down button */
	padding: 16px 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: var(--token-color-surface-primary, #ffffff);
	border-top: 1px solid var(--token-color-border-primary);
}

.question {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 8px 0;
	gap: 12px;
	background: var(--token-color-surface-primary, #ffffff);
}
.question_icon {
	height: 40px;
	width: 40px;
	padding: 8px;

	/* See prior art: https://hashicorp-mktg.sourcegraph.com/github.com/hashicorp/web/-/blob/apps/www/views/state-of-the-cloud/2021/components/hero/style.module.css?L18-19 */
	& :global(.loading) {
		animation: hds-flight-icon-animation-rotation 9s linear infinite;
		animation-duration: 0.7s;
	}
}

@keyframes hds-flight-icon-animation-rotation {
	100% {
		transform: rotate(360deg);
	}
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.textarea {
	composes: g-focus-ring-from-box-shadow from global;

	/* Body/300/Medium */
	composes: hds-typography-body-300 from global;
	composes: hds-font-weight-medium from global;
	appearance: none;
	border-radius: 5px;
	padding: 8px 4px;
	display: flex;
	flex: 1;
	height: 100%;
	resize: none;
	background: transparent;
}
.button {
	height: 24px;
	width: 24px;
	background: transparent;
	&:focus {
		outline: auto;
	}
}

.disclaimer {
	color: var(--token-color-foreground-faint); /* #656a76 */
	display: block;
	padding: 8px 0px 0px 10px;
}
