.heading {
  composes: g-type-display-5 from global;
  margin: 0 !important;
}

.body {
  margin: 8px 0 0 0 !important;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
  margin-top: 16px;
}
