.linkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;

  @media (--medium-up) {
    &.direction-previous {
      text-align: left;
      justify-content: flex-start;
    }

    &.direction-next,
    &.direction-final {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.icon {
  display: block;

  &.direction-previous {
    margin-right: 8px;
  }

  &.direction-next,
  &.direction-final {
    order: 1;
    margin-left: 8px;
  }
}
