.linkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--medium-up) {
    &.direction-previous {
      justify-content: flex-start;
    }

    &.direction-next,
    &.direction-final {
      justify-content: flex-end;
    }
  }
}

.icon {
  display: block;

  @media (--medium-up) {
    &.direction-previous {
      order: 0;
      margin-right: 8px;
    }

    &.direction-next,
    &.direction-final {
      order: 1;
      margin-left: 8px;
    }
  }
}

.text {
  display: none;

  @media (--medium-up) {
    display: block;
  }
}
