.card {
  border: 1px solid magenta; /** @TODO style these to spec, remove any prev imp styles necessary - https://www.figma.com/file/VD7ahvXuXWJApeGnhbW4hv/Dev-Portal?node-id=6298%3A73041 */
  position: relative;
  display: block;
  background: var(--white);
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

/* visually hidden */
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.linkbox {
  composes: card;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--token-surface-mid-box-shadow);
  transition: box-shadow 0.3s;

  &[data-direction='previous'] {
    text-align: left;
    justify-content: flex-start;
    &:hover {
      box-shadow: var(--token-surface-high-box-shadow);
    }
  }

  &[data-direction='next'],
  &[data-direction='final'] {
    text-align: right;
    justify-content: flex-end;

    &:hover {
      box-shadow: var(--token-surface-high-box-shadow);
    }
  }

  @media (--small) {
    &[data-direction='previous'] {
      justify-content: center;
    }

    &[data-direction='next'],
    &[data-direction='final'] {
      justify-content: center;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--black);

  & > div {
    display: flex;
  }

  &[data-direction='previous'] {
    order: 0;
    margin-right: 12px;
  }

  &[data-direction='next'],
  &[data-direction='final'] {
    order: 1;
    margin-left: 12px;
  }

  @media (--small) {
    &[data-direction='previous'] {
      margin-right: 0;
    }

    &[data-direction='next'],
    &[data-direction='final'] {
      margin-left: 0;
    }
  }
}

.text {
  text-decoration: none;

  @media (--small) {
    display: none;
  }
}
