.card {
  position: relative;
  display: block;
  background: var(--white);
  border: 1px solid var(--gray-5);
  border-radius: 2px;
  margin: 0;
  padding: 20px;
  transition: box-shadow 0.2s;
}

/* visually hidden */
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.linkbox {
  composes: card;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  transition: background-color 0.2s ease;
  color: var(--black);

  &[data-direction='previous'] {
    text-align: left;
    justify-content: flex-start;
    &:hover {
      background-color: var(--gray-6);
      transition: background-color 0.2s ease;
    }
  }

  &[data-direction='next'],
  &[data-direction='final'] {
    text-align: right;
    justify-content: flex-end;
    border-color: var(--brand, #2e71e5);
    box-shadow: 0 4px 6px rgba(52, 53, 54, 0.08);

    &:hover {
      background-color: var(--info-l2);
      transition: background-color 0.2s ease;
    }
  }

  @media (--small) {
    &[data-direction='previous'] {
      justify-content: center;
    }

    &[data-direction='next'],
    &[data-direction='final'] {
      justify-content: center;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--black);

  & > div {
    display: flex;
  }

  &[data-direction='previous'] {
    order: 0;
    margin-right: 12px;
  }

  &[data-direction='next'],
  &[data-direction='final'] {
    order: 1;
    margin-left: 12px;
  }

  @media (--small) {
    &[data-direction='previous'] {
      margin-right: 0;
    }

    &[data-direction='next'],
    &[data-direction='final'] {
      margin-left: 0;
    }
  }
}

.text {
  composes: g-type-buttons-and-standalone-links from global;
  text-decoration: none;
  color: #000;

  @media (--small) {
    display: none;
  }
}
