.meta {
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: auto;
  padding: 0.5rem;
  font-size: 10px;
  line-height: 1.1;
  background: lightgray;
  opacity: 0.6;
}

.viz {
  position: static;
  z-index: 999;
}

.anchorLinkMarker {
  --color: magenta;

  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--color);
  color: var(--color);
  opacity: 0.8;
  font-size: 10px;
  line-height: 1.1;
  pointer-events: none;
}

.anchorAreaMarker {
  position: absolute;
  left: 0;
  right: 0;
  background: green;
  opacity: 0.2;
  font-size: 10px;
  line-height: 1.1;
  pointer-events: none;
}
