.label {
	composes: hds-typography-body-200 from global;
	composes: hds-font-weight-medium from global;
}

.listItem {
	display: flex;
	border-radius: 5px;
	color: var(--token-color-foreground-primary);
	width: 100%;
	border: none;
	padding: 8px 10px 8px 16px;
	justify-content: space-between;
	align-items: center;
}
