.icon {
  color: var(--token-color-foreground-primary);
}

.heading {
  margin-top: 12px;
}

.description {
  margin-top: 8px;
  color: var(--token-color-foreground-primary);
}

.cta {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;

  @media (--dev-dot-tablet-up) {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

.ctaButton {
  composes: root from '/src/components/button/button.module.css';
  composes: primary from '/src/components/button/button.module.css';
  composes: medium from '/src/components/button/button.module.css';
  & a {
    color: inherit;
  }
}

.ctaText {
  color: var(--token-color-foreground-faint);
  margin: 0 0 0 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ctaIcon {
  margin-right: 6px;
}
