.variableGroupList {
	list-style: none;
	padding-left: 0;

	& > li.variableGroupListItem {
		background-color: white;
		border-radius: 6px;
		padding: 16px;
		padding-bottom: 0;
		box-shadow: var(--token-surface-base-box-shadow);
		display: flex;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}

		&.highlight {
			background: var(--token-color-surface-action);
		}

		& .arrowIcon {
			color: var(--token-color-foreground-disabled);
			margin-right: 10px;
			@media (max-width: 800px) {
				/* We can't nest on mobile without gnarly overflow */
				display: none;
			}
		}

		& .indentedContent {
			flex-grow: 1;
			width: 100%;
			overflow: scroll;
		}

		& .topRow {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 12px;

			& .badge {
				flex-grow: 1;
				display: flex;
				justify-content: flex-end;
				@media (max-width: 800px) {
					justify-content: flex-start;
				}
			}

			& .key {
				border: 1px solid var(--token-color-border-primary);
				border-radius: 5px;
				padding: 2px 4px 3px;
				background: var(--token-color-palette-neutral-50);
				font-size: 16px;
				color: var(--token-color-foreground-strong);
			}

			& .required {
				font-size: 13px;
				color: var(--token-color-foreground-faint);

				&.isRequired {
					color: var(--token-color-palette-purple-300);
				}
			}
		}

		& .description {
			font-size: 14px;
			margin-top: 8px;
			margin-bottom: 16px;
			& > :first-child {
				margin-top: 0;
			}
			& > :last-child {
				margin-bottom: 0;
			}
		}

		/* Nested Children Styles */
		& li.variableGroupListItem {
			padding-left: 0;
			padding-right: 0;
			box-shadow: unset;

			&:not(:last-of-type) {
				margin-bottom: 0;
			}

			& .topRow {
				& .key {
					font-size: 14px;
					color: var(--token-color-foreground-primary);
				}
			}
		}
	}
}
