/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.blockquote {
	margin: 32px 0;
	padding-left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-left: 2px solid var(--mds-color-border-primary);
}
