.blockquote {
	margin: var(--dev-custom-blockquote-margin, 32px) 0;
	padding-left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-left: 2px solid var(--token-color-border-primary);
}
