/*
NOTE: This file mainly uses selectors to apply styles because it ensures that
the correct elements, roles, states, and properties are being set in the markup.
*/

.tabList[role='tablist'] {
  align-items: center;
  display: flex;
}

/*
Styles for each tab button.
*/
.tabButton[role='tab'] {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: var(--token-color-foreground-faint);
  cursor: pointer;

  /*
  Ensure each item will not shrink, so that overflow will be triggered
  rather than items going to multi-line.
  */
  flex-shrink: 0;
  font-size: var(--token-typography-body-200-font-size);
  font-weight: var(--token-typography-font-weight-regular);
  padding: 8px 12px;

  &[aria-selected='true'] {
    color: var(--token-color-foreground-strong);
    background-color: var(--token-color-palette-neutral-200);
  }

  &:focus-visible {
    z-index: 1;
  }

  &:hover {
    color: var(--token-color-foreground-strong);
    background-color: var(--token-color-palette-neutral-100);
  }
}
