.root {
  margin-bottom: 48px;
}

.cardHeader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  padding-bottom: 12px;

  & > h2 {
    /* Flex-grow as much as possible to keep .versionSwitcherWrapper small */
    flex-grow: 100;

    /* Margin reset is necessary to override styles from dev-dot-content */
    margin-bottom: 0;
  }
}

.versionSwitcherWrapper {
  /* Flex-grow to fill space when wrapped to new row */
  flex-grow: 1;
  flex-shrink: 1;
  width: max-content;
}

.operatingSystemTitle {
  color: var(--token-color-foreground-strong);
  margin-bottom: 12px;
}

.tabContent {
  margin-top: 16px;
}

.subHeading {
  color: var(--token-color-foreground-strong);
  margin-bottom: 16px;
  margin-top: 24px;
}

.specialSubHeading {
  margin-bottom: 8px;
}

.codeTabsCodeBlock {
  margin-top: 4px;
}

.textAndLinkCard {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.textAndLinkCardTextContainer {
  margin-right: 16px;
}

.textAndLinkCardLabel {
  color: var(--token-color-foreground-strong);
  margin-bottom: 4px;
}

.textAndLinkCardVersionLabel {
  color: var(--token-color-foreground-faint);
}
