/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	/* used by components like CardLink */
	--card-border-radius: 6px;

	background-color: var(--mds-color-surface-primary);
	border-radius: var(--card-border-radius);
	padding: 16px;
	width: 100%;

	@nest html[data-theme='dark'] & {
		background-color: var(--mds-color-surface-faint);
	}
}
