.siteLogo {
  display: flex;

  /* Note: padding here necessary to match height of .productLogo
     in navigation-header.module.css */
  padding-top: 2px;
  padding-bottom: 2px;

  & svg {
    height: 36px;
    width: auto;
  }
}
