.siteLogo {
  display: flex;

  /* Note: min-height necessary to match height of .productLogo
     in navigation-header.module.css */
  min-height: 40px;

  & svg {
    height: auto;
    width: 162px;

    @media (--dev-dot-tablet-up) {
      width: 232px;
    }
  }
}
