.siteLogoLink {
	composes: g-focus-ring-from-box-shadow-dark from global;
	border-radius: 5px;
}

.siteLogoInlineSvg {
	display: flex;
	align-items: center;

	/* Note: min-height necessary to match height of .productLogo
     in navigation-header.module.css */
	min-height: 32px;

	& svg {
		height: 22px;
		width: auto;

		@media (--dev-dot-tablet-up) {
			height: 24px;
		}
	}
}
