.iconTile {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
	}
}

.title {
	color: var(--token-color-foreground-strong);
}

.organization {
	color: var(--token-color-foreground-faint);
}

.description {
	color: var(--token-color-foreground-primary);
}
