.header {
  --spacing-sml: 18px;
  --spacing-med: 20px;
  --spacing-lrg: 24px;
  --spacing-xl: 32px;
}

.heading {
  margin-bottom: var(--spacing-med);

  @media (--dev-dot-tablet-up) {
    margin-bottom: var(--spacing-sml);
  }

  @media (--dev-dot-desktop) {
    margin-bottom: var(--spacing-lrg);
  }
}

.meta {
  margin-bottom: var(--spacing-lrg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--dev-dot-tablet-up) {
    margin-bottom: var(--spacing-xl);
  }

  @media (--dev-dot-desktop) {
    display: block;
  }
}
