.header {
	padding: 0;
	background: var(--token-color-surface-faint);
	max-width: 100%;

	& .upperCard {
		padding: 16px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 600px) {
			flex-direction: column;
		}

		& .left {
			& h1 {
				font-size: 38px;
				line-height: 38px;
				margin-top: 0;
				margin-bottom: 4px;
			}

			& span {
				font-size: 17px;
			}
		}

		& .right {
			& .versionDropdown {
				@media (max-width: 600px) {
					margin-top: 12px;
				}
			}
		}
	}

	& .lowerCard {
		background: var(--white);
		border: 1px solid var(--wpl-neutral-25);
		box-shadow: var(--token-elevation-mid-box-shadow);
		border-radius: 5px;
		padding: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
