/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.pre {
	composes: hds-typography-code-100 from global;
	background: var(--mds-color-surface-highlight);
	border-radius: 5px;
	border: 1px solid var(--mds-color-border-primary);
	color: var(--mds-color-foreground-primary);
	line-height: 1.6;
	padding: 16px;
	max-height: 200px;
	overflow-y: auto;

	&.wrap {
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}
}
