.pre {
	composes: hds-typography-code-100 from global;
	background: var(--token-color-surface-highlight);
	border-radius: 5px;
	border: 1px solid var(--token-color-border-primary);
	color: var(--token-color-foreground-primary);
	line-height: 1.6;
	padding: 16px;
	max-height: 200px;
	overflow-y: auto;

	&.wrap {
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}
}
