/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	background-color: var(--mds-color-border-primary);
	color: var(--mds-color-border-primary);
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	flex-shrink: 0;
}
