/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	display: flex;
	align-items: center;
}

.icon {
	/** Note: --icon-color is set in JS */
	color: var(--icon-color);
	margin-right: 8px;

	& svg {
		display: block;
	}
}

.text {
	composes: hds-typography-body-200 from global;
	color: var(--mds-color-foreground-primary);
	font-weight: var(--token-typography-font-weight-semibold);
}
