.root {
  padding: 0 24px;
  width: 100%;
  max-width: 1628px;
  margin: 0 auto;
}

.hero {
  margin-top: 24px;
}

.cardGridHeading {
  margin-top: 64px;
  margin-bottom: 0;
}

.cardGrid {
  margin-top: 32px;
  margin-bottom: 144px;
}
