@import 'styles/color.css';
@import 'styles/sizing.css';
@import 'styles/spacing.css';
@import 'styles/typography.css';

/* Global Styles */
@import '~@hashicorp/mktg-global-styles/style.css';

/* Print Styles */
@import './print.css';

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Custom web font, deprecated */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Mobile and tablet breakpoints and helper classes */

:root {
  --mobile-width-breakpoint: 728px;
  --tablet-width-breakpoint: 1000px;
  --font-body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-display: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@custom-media --mobile only screen and (max-width: 728px);
@custom-media --tablet only screen and (min-width: 729px) and (max-width: 1000px);

@media (--mobile) {
  .hide-on-mobile {
    display: none;
  }
}

@media (--tablet) {
  .hide-on-tablet {
    display: none;
  }
}

/* General helper classes */

.focus-border-and-box-shadow-light {
  &:focus {
    border: 1px solid var(--blue-vibrant);
    box-shadow: 0 0 0 3px #a5c2f3;
    outline: none;
  }
}

.focus-border-and-box-shadow-dark {
  &:focus {
    border: 1px solid #107dff;
    box-shadow: 0 0 0 3px #5fbcff;
    outline: none;
  }
}
