.card {
	padding: 24px;
}

.heading {
	composes: g-offset-scroll-margin-top from global;
	composes: hds-typography-display-300 from global;
	font-weight: var(--token-typography-font-weight-semibold);
	color: var(--token-color-foreground-strong);
}

.body {
	composes: hds-typography-body-100 from global;
	color: var(--token-color-foreground-faint);
	margin: 8px 0 0 0;
}

.ctas {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
	margin: 16px 0 0 0;
}

.iconCardLinks {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 16px;
}

.fixedColumnsMode {
	grid-template-columns: 1fr;

	&.columns2 {
		@media (--dev-dot-tablet-up) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&.columns3 {
		@media (--dev-dot-tablet-up) {
			grid-template-columns: 1fr 1fr;
		}

		@media (--dev-dot-desktop) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
