.root {
	border: 1px solid magenta;
	background: rgba(255, 0, 255, 0.15);
	padding-bottom: 10rem;
}

.overviewCard {
	margin-top: -72px;
}

.overviewHeading {
	border: 1px solid magenta;
	margin-top: 72px;
}

.overviewFaq {
	margin-top: 32px;
}
