.root {
	--previous-section-offset: 72px;
	--padding-bottom: 72px;

	background: var(--token-color-surface-interactive-disabled);
	padding-bottom: calc(var(--padding-bottom) + var(--previous-section-offset));
}

.overviewCard {
	margin-top: calc(-1 * var(--previous-section-offset));
}

.accordionHeading {
	composes: hds-typography-display-400 from global;
	font-weight: var(--token-typography-font-weight-bold);
	color: var(--token-color-foreground-strong);
	margin: 40px 0 32px 0;
}
