.notMobileIcon {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
	}
}

.mobileIcon {
	align-items: center;
	display: flex;

	@media (--dev-dot-tablet-up) {
		display: none;
	}
}

.text {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
	}
}
