.heading {
  composes: g-offset-scroll-margin-top from global;
  composes: hds-typography-display-300 from global;
  font-weight: var(--token-typography-font-weight-bold);
  color: var(--token-color-foreground-strong);
}
