/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.heading {
	composes: g-offset-scroll-margin-top from global;
	composes: hds-typography-display-300 from global;
	font-weight: var(--token-typography-font-weight-bold);
	color: var(--mds-color-foreground-strong);
}
