.searchRow {
	display: flex;
	margin-top: 24px;
	align-items: center;
	justify-content: center;
	column-gap: 16px;
	flex-wrap: wrap;

	/* We want the search input to grow to fill space. */
	& > :first-child {
		flex-grow: 1;
	}

	/* Padding around the checkbox works better on smaller viewports,
	   creating a gap below the checkbox when it wraps, but not adding
		 any height on large viewports, where the search input is taller. */
	& > :last-child {
		padding: 16px 0;
	}
}

/* TODO: this is duplicated from searchable-integrations-list */
.searchBar {
	background-color: var(--white);
	border-radius: 2px;
	box-shadow: 0 0 0 1px var(--gray-5);
	height: 45px;
	position: relative;

	& > svg {
		position: absolute;
		top: calc(50% - 10px);
		left: 16px;
		height: 20px;
		width: auto;
		color: var(--gray-3);
		pointer-events: none;
	}

	& > input {
		background-color: transparent;
		border-width: 0;
		width: 100%;
		height: 100%;
		padding-left: calc(16px * 2 + 20px);
	}
}

.results {
	color: var(--gray-3);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 8px;
	margin-bottom: 24px;
}
