.mdxContent {
	margin-top: 48px;

	@media (--dev-dot-mobile) {
		& h1:first-child {
			margin-right: 25%;
		}
	}
}

.contentWithVersions {
	position: relative;

	& .versionSwitcherWrapper {
		width: 100%;
		margin-bottom: 16px;

		@media (--dev-dot-tablet-up) {
			margin-bottom: 0;
			width: auto;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	& .mdxContent {
		@media (--dev-dot-mobile) {
			margin-top: 0;
		}
	}
}
