.sidecar {
  margin-left: 24px;
  min-width: 268px;
  position: sticky;
  text-align: right;
  top: 0;
  width: 268px;
}

.sidecarLabel {
  color: var(--gray-foreground-secondary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 12px;
  margin-top: 0;
}

.sidecarList {
  border-right: 1px solid #c2c5cb;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidecarListItem {
  color: var(--gray-foreground-tertiary);
  font-size: 14px;
  line-height: 18px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  & a {
    border-radius: 5px;
    border: 1px solid transparent;
    color: inherit;
    padding: 0 10px;

    &:focus {
      border: 1px solid var(--blue-vibrant);
      box-shadow: 0 0 0 3px #a5c2f3; /* TODO: replace w/ variable when available */
      outline: none;
    }
  }
}

.sidecarListItem-active {
  & a {
    color: var(--gray-foreground-primary);
    font-weight: 500;
    text-decoration: underline;
  }

  & span {
    background-color: var(--gray-foreground-primary);
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    display: block;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    width: 2px;
  }
}
