.heading {
	composes: g-offset-scroll-margin-top from global;
	width: fit-content;

	/*
  Special spacing rule for subsequent list elements.
  TODO: can we rethink the design spec for spacing to avoid sibling selectors?
  */
	& + ul,
	& + ol {
		margin-top: 12px;
	}

	/*
  Special spacing rule for subsequent paragraph elements.
  TODO: can we rethink the design spec for spacing to avoid sibling selectors?
  */
	& + p {
		margin-top: 0;
	}

	/*
  TODO: these values are a special request from design for the purposes of the
  inital preview. They make <code> elements within heading elements a little
  less jarring.
  */
	& code {
		font-size: 0.8em;
		font-weight: 500;
	}

	&:hover {
		& :global(.__permalink-h) {
			opacity: 1;
		}
	}
}

.h1 {
	color: var(--token-color-foreground-strong);
	margin-bottom: 12px;
}

.h2 {
	color: var(--token-color-foreground-strong);
	margin-bottom: 12px;
	margin-top: 48px;
}

.h3 {
	color: var(--token-color-foreground-strong);
	margin-bottom: 8px;
	margin-top: 32px;
}

.h4,
.h5,
.h6 {
	color: var(--token-color-foreground-primary);
	margin-bottom: 8px;
	margin-top: 24px;
}
