.root {
	align-items: center;
	display: flex;
	width: 100%;
	position: relative;
	background-color: var(--token-color-surface-strong);
	padding: 12px;
	border-radius: 6px;
	flex-wrap: wrap;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	margin: 16px auto;
}

.image {
	object-position: center;
	object-fit: contain;
	width: 100%;
	height: fit-content;
	box-shadow: var(--token-surface-base-box-shadow);
	background-color: white;
	border-radius: 5px;
	display: block;
	max-width: 100%;
	margin: 0;
}
