.root {
	composes: hds-surface-mid from global;
	background-color: white;
	border-radius: 6px;
	width: 100%;

	&:hover {
		box-shadow: var(--token-surface-high-box-shadow);
	}

	/*
		Nested .root show have no elevation. Ensure this is later than the hover
		style to maintain precedence.
	*/
	& .root {
		box-shadow: var(--token-surface-base-box-shadow);
	}

	/* Only enable animation if query is supported and value is no-preference */
	@media (prefers-reduced-motion: no-preference) {
		transition: box-shadow 0.2s;
	}
}

.button {
	align-items: center;
	background-color: transparent;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	display: flex;
	isolation: isolate;
	padding: 16px;
	position: relative;
	text-align: left;
	width: 100%;

	& svg {
		color: var(--token-color-foreground-faint);

		/* Only enable animation if query is supported and value is no-preference */
		@media (prefers-reduced-motion: no-preference) {
			transition: transform 0.2s;
		}
	}

	/* aka AccordionDisclosure is open */
	&[aria-expanded='true'] {
		& svg {
			transform: rotate(90deg);
		}
	}

	/*
  TODO: not composing focus styles here because they use a border. Long term
  goal is to refactor those to use a box-shadow only like in this situation.
  */
	&:focus,
	&:focus-visible {
		outline: transparent;
	}

	&:focus-visible::before {
		border-radius: 6px;
		bottom: 0;
		box-shadow: var(--token-focus-ring-action-box-shadow);
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

.labelContainer {
	margin-right: 16px;
	width: 100%;
}

.title {
	color: var(--token-color-foreground-strong);
	display: block;
}

.description {
	color: var(--token-color-foreground-faint);
	display: block;
	margin-top: 4px;
}

.content {
	padding: 16px;
	padding-top: 0;
}
