.root {
	background-color: var(--token-color-surface-primary);
	border-radius: 6px;
	box-shadow: var(--token-surface-mid-box-shadow);
	width: 100%;

	/* Only enable animation if query is supported and value is no-preference */
	@media (prefers-reduced-motion: no-preference) {
		transition: box-shadow 0.2s;
	}

	&:not(.isGroupedItem) {
		--isolation: isolate;
		--focus-ring-z-index: -1;
	}

	/* Grouped "middle" items should have their border-radius removed */
	&.isGroupedItem {
		--isolation: auto;
		--focus-ring-z-index: 1;

		&:not(.isFirstItem) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		&:not(.isLastItem) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&.isOpen {
		box-shadow: var(--token-surface-mid-box-shadow);
	}

	&.isHovered {
		box-shadow: var(--token-surface-high-box-shadow);
	}

	/* When nested, box-shadow should always be "surface base" */
	&.isNested {
		box-shadow: var(--token-surface-base-box-shadow);
	}
}

.button {
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	isolation: var(--isolation);
	padding: 16px;
	position: relative;
	text-align: left;
	width: 100%;

	& svg {
		color: var(--token-color-foreground-faint);

		/* Only enable animation if query is supported and value is no-preference */
		@media (prefers-reduced-motion: no-preference) {
			transition: transform 0.2s;
		}
	}

	/* aka AccordionDisclosure is open */
	&[aria-expanded='true'] {
		& svg {
			transform: rotate(90deg);
		}
	}

	/*
	TODO: not composing focus styles here because they use a border. Long term
	goal is to refactor those to use a box-shadow only like in this situation.
	*/
	&:focus,
	&:focus-visible {
		outline: transparent;
	}

	&:focus-visible::before {
		border-radius: 6px;
		bottom: 0;
		box-shadow: var(--token-focus-ring-action-box-shadow);
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: var(--focus-ring-z-index);
	}
}

.labelContainer {
	margin-right: 16px;
	width: 100%;
}

.title {
	color: var(--token-color-foreground-strong);
	display: block;
}

.description {
	color: var(--token-color-foreground-faint);
	display: block;
	margin-top: 4px;
}

.content {
	padding: 16px;
	padding-top: 0;
}
