.root {
	align-items: center;
	display: flex;
	gap: 16px;

	&.hasSubtitle {
		align-items: flex-start;
	}

	/* @media (--dev-dot-tablet-up) {
    margin-right: 25%;
  } */
}

.icon {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
	}
}

.pageTitle {
	composes: g-offset-scroll-margin-top from global;
	color: var(--token-color-foreground-strong);
	margin-bottom: 8px;
}

.pageSubtitle {
	color: var(--token-color-foreground-primary);
}
