/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.mobileMenuContainer {
	z-index: 4;
}

.mobileMenuAuthContainer {
	padding: 24px 24px 0 24px;
}

.mobileMenuNavList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: 1px solid #656a761a;
}

.mobileMenuButton {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	border: none;
	background: none;
	border-top: 1px solid #656a761a;
	border-bottom: 1px solid #656a761a;
}

/** 
 *	Div targeting is needed since the ProductPanel is a HashiCorp module component.
 *  We cannot directly modify the component logic/styling, so we resort to this.
 */
.visible {
	width: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--mds-color-surface-primary);

	> div {
		justify-content: flex-start;
		padding-top: 24px;

		> div {
			background: none;
			padding-top: 0;
			gap: 0;

			> div > ul {
				margin: 0;
			}

			> div > ul > li > ul {
				@media (--dev-dot-show-mobile-menu) {
					grid-template-columns: repeat(2, 1fr);
				}

				@media (--dev-dot-mobile) {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

.hidden {
	display: none;
}
