/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.mobileMenuContainer {
	z-index: 4;
}

.mobileMenuAuthContainer {
	padding: 24px 24px 0 24px;
}

.mobileMenuNavList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: 1px solid #656a761a;

	@nest html[data-theme='dark'] & {
		border-top: 1px solid #b2b6bd33;
	}
}

.mobileMenuButton {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	border: none;
	background: none;
	border-top: 1px solid #656a761a;
	border-bottom: 1px solid #656a761a;

	@nest html[data-theme='dark'] & {
		border-top: 1px solid #b2b6bd33;
		border-bottom: 1px solid #b2b6bd33;
	}
}

/** 
 *	Div targeting is needed since the ProductPanel is a HashiCorp module component.
 *  We cannot directly modify the component logic/styling, so we resort to this.
 */
.visible {
	width: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--mds-color-surface-primary);

	> div {
		justify-content: flex-start;

		@media (--dev-dot-tablet-down) {
			padding-top: 24px;
		}

		/* Entire Panel for both Product & Learn */
		> div {
			background: none;
			padding-top: 0;
			gap: 0;

			@media (--dev-dot-tablet) {
				display: flex;
				flex-direction: column-reverse;
			}

			/* Spacing between Product & Promo */
			> div > ul {
				margin: 0;
				
				> li {
					/* Product Grid Header spacing */
					> span {
						padding-bottom: var(--mds-spacing-05);

						@media (--dev-dot-mobile) {
							padding-bottom: var(--mds-spacing-07);
						}
					}
					
					/* Product Grid ordering */
					> ul {
						@media (--dev-dot-show-mobile-menu) {
							grid-template-columns: repeat(2, 1fr);
						}

						@media (--dev-dot-mobile) {
							grid-template-columns: 1fr;
						}
						
						/* Product element spacing */
						> li {
							@media (--dev-dot-mobile) {
								margin-bottom: 8px;
							}
						}
					}
				}

				/* Spacing between Product Grid sections */
				/* stylelint-disable-next-line csstools/use-nesting */
				> li:first-child {
					margin-bottom: var(--mds-spacing-08) !important;
					padding-bottom: var(--mds-spacing-08) !important;

					@media (--dev-dot-mobile) {
						margin-bottom: var(--mds-spacing-07) !important;
						padding-bottom: var(--mds-spacing-05) !important;
					}
				}
			}

			/* Product Grid Section Sides */
			> div:first-child {
				margin: 0 var(--mds-spacing-10);

				@media (--dev-dot-mobile) {
					margin: 0 var(--mds-spacing-07);
				}
			}
			
			/* Promo Banner within Product */
			> div:nth-child(2) {
				@media (--dev-dot-tablet) {
					margin-top: 0;
					margin-bottom: var(--mds-spacing-08);
				}
			}
		}
	}
}

.hidden {
	display: none;
}
