.root {
	display: flex;
	align-items: flex-start;
	gap: 58px;
}

.left {
	max-width: 365px;
	width: 100%;
}

.sectionTitle {
	align-items: center;
	display: flex;
	font-size: 30px;
	font-weight: 700;
	gap: 8px;
	line-height: 38px;
	margin-bottom: 21px;
	margin-top: 0;
}

.sectionDescription {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.generalCtasList {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
	margin: 0;
	margin-top: 32px;
	padding: 0;
}

.featuredUseCasesTitle {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 24px;
	margin-top: 70px;
}

.featuredUseCasesList {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	row-gap: 32px;
}

.right {
	max-width: 820px;
	width: 100%;
}

.grid {
	display: grid;
	gap: 21px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 0;
	padding: 0;
	list-style: none;
}
