/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	composes: g-offset-scroll-margin-top from global;
	color: var(--mds-color-foreground-strong);

	&.h2 {
		margin-bottom: 24px;
	}

	&.h3 {
		margin-bottom: 4px;
	}
}
