.badgeItem {
  composes: hds-font-weight-medium from global;
  composes: hds-typography-display-100 from global;
  border-radius: 5px;
  background-color: var(--token-color-palette-neutral-100);
  margin: 0 var(--badge-spacing) var(--badge-spacing) 0;
  padding: 4px 8px;
  height: 24px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
}
