.keyWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
	column-gap: var(--mds-spacing-09);
	row-gap: var(--mds-spacing-07);
}

.key {
	align-items: center;
	display: flex;
}

.dot {
	--size: 16px;

	flex-shrink: 0;
	border-radius: var(--size);
	height: var(--size);
	width: var(--size);
	margin-right: var(--mds-spacing-03);
}

.name {
	composes: mds-typography-body-200 from global;
	margin: 0;
	color: var(--token-color-foreground-primary);
}
