.root {
	align-items: center;
	color: var(--token-color-foreground-strong);
	display: flex;
	font-weight: var(--token-typography-font-weight-medium);
	gap: 6px;
	line-height: var(--line-height);
	margin: 0;

	& svg {
		flex-shrink: 0;
		transition: transform 0.2s;
	}

	&.isHovered {
		& svg {
			@media (prefers-reduced-motion: no-preference) {
				transform: translate(2px);
			}
		}
	}
}

.small {
	composes: hds-typography-body-100 from global;

	--line-height: 1.231;
}

.medium {
	composes: hds-typography-body-200 from global;

	--line-height: 1.143;
}
