@import './partials/SubmitMessage/style.css';

.g-newsletter-signup-form {
  position: relative;
  width: 100%;

  & > .form-elements {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.35s;

    & > .inputs {
      flex-shrink: 1;
      width: 100%;

      & .text-input {
        margin-bottom: 12px;
      }

      & .checkbox-input {
        margin-bottom: 12px;
      }
    }

    & > .btn {
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
      padding-bottom: 12px;
      padding-top: 12px;
      width: 100%;
    }
  }

  &[data-allow-horizontal-layout='true'] {
    & > .form-elements {
      @media (min-width: 768px) {
        flex-wrap: nowrap;

        & > .inputs {
          margin-right: 16px;

          & .checkbox-input {
            margin-bottom: 0;
          }
        }

        & > .btn {
          align-self: flex-start;
          width: auto;
        }
      }
    }
  }

  &[data-submitting='true'] {
    & > .form-elements {
      opacity: 0.7;
    }
  }

  &[data-submitted='true'] {
    & > .form-elements {
      opacity: 0;
    }
  }
}
