/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: var(--mds-color-palette-neutral-200);
	opacity: 1;
	transition: opacity 0.4s;

	&.isComplete {
		opacity: 0;
	}
}

.progress {
	background: var(--mds-color-foreground-action);
	height: 4px;
	width: 100%;
	transform-origin: left;
}
