.root {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: var(--token-color-palette-neutral-200);
	opacity: 1;
	transition: opacity 0.4s;

	&.isComplete {
		opacity: 0;
	}
}

.progress {
	background: var(--token-color-foreground-action);
	height: 4px;
	width: 100%;
	transform-origin: left;
}
