.sidebarNavElement {
  padding-top: 8px;
  position: relative;
}

.sidebarNavLabel {
  color: var(--token-color-foreground-faint);
  margin-bottom: 12px;
  padding: 0 8px;
}

.sidebarNavList {
  list-style: none;
  margin: 0;
  padding: 0;
}
