.sidebarNavLabel {
  composes: ds-token-typography-body-base from global;
  font-weight: var(--ds-token-font-weight-semibold);
  color: var(--token-color-neutral-foreground-faint);
  margin-bottom: 0 0 16px 0;
  padding: 0 8px;
}

.skipToMainContent {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  right: -10000px;
  width: fit-content;
  z-index: 1;

  &:focus {
    right: var(--sidebar-padding);
  }
}

.sidebarNavList {
  list-style: none;
  margin: 0;
  padding: 0;
}
