.sidebarNavLabel {
  color: var(--token-color-palette-neutral-600);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0 8px;
}

.skipToMainContent {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  right: -10000px;
  width: fit-content;
  z-index: 1;

  &:focus {
    right: var(--sidebar-padding);
  }
}

.sidebarNavList {
  list-style: none;
  margin: 0;
  padding: 0;
}
