.backToLink {
  align-items: center;
  color: var(--token-color-palette-neutral-700);
  display: flex;
  margin-bottom: 16px;
  padding: 10px 8px;
  width: fit-content;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.icon {
  margin-right: 8px;
}
