.list {
	--badge-spacing: 8px;

	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: var(--badge-spacing);
	list-style: none;
	margin: 0;
	margin-bottom: calc(
		var(--spacing-lrg) - var(--badge-spacing)
	); /* --spacing tokens live in tutorial-meta-module.css */

	padding: 0;

	& li {
		align-self: center;
		display: flex;
	}

	@media (--dev-dot-tablet-up) {
		margin-bottom: calc(var(--spacing-xl) - var(--badge-spacing));
	}
}

.readTime {
	composes: hds-font-weight-medium from global;
	composes: hds-typography-display-100 from global;
	color: var(--token-color-palette-neutral-600);
}
