ul.list {
  --badge-spacing: 8px;

  /** --spacing tokens live in tutorial-meta-module.css */
  margin-bottom: calc(var(--spacing-lrg) - var(--badge-spacing));
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @media (--dev-dot-tablet-up) {
    margin-bottom: calc(var(--spacing-xl) - var(--badge-spacing));
  }

  & li:not(:last-child) {
    margin-bottom: var(--badge-spacing);
  }
}

.beta {
  background-color: var(--token-color-highlight-background-faint);
  color: var(--token-color-palette-purple-300) !important;
}

.readTime {
  composes: hds-font-weight-medium from global;
  composes: hds-typography-display-100 from global;
  color: var(--token-color-palette-neutral-600);
  margin: 0 var(--badge-spacing) var(--badge-spacing) 0;
  padding: 4px 0;
  height: 24px;
  display: flex;
  align-items: center;
}
