/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.integrationComponentView {
	& .mdxWrapper {
		& > :first-child {
			margin-top: 0;
		}
	}

	& .variableGroups {
		margin-top: 56px;
	}
}
