.vaultBackground {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;

	--background-right-offset: -120px;

	background: url('/img/homepage/vault-slot-accent.svg') right
			var(--background-right-offset) bottom -50px,
		linear-gradient(140.72deg, #fffbdc 30.64%, #fffeea 104.14%);
	background-repeat: no-repeat;

	@media (--dev-dot-tablet-up) {
		--background-right-offset: -60px;
	}
}
