.statusSectionElements {
	align-items: center;
	align-self: stretch;
	border-radius: 5px;
	display: flex;
	gap: 8px;
	width: 100%;
}

.statusSectionWithBorder {
	composes: hds-surface-base from global;
	composes: statusSectionElements;
	background: var(--token-color-surface-faint);
	padding: 4px 12px;

	&.isAuthenticated {
		background: var(--token-color-surface-primary);
	}
}

/*
Incomplete elements
*/
.countIconAndLabel {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-shrink: 0;
}

.countIcon {
	display: block;
	color: var(--token-color-foreground-faint);
	width: 14px;
	height: 14px;
}

/*
Complete elements
*/
.completeIconAndLabel {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}

.completeIcon {
	display: block;
	color: var(--token-color-foreground-success);
	width: 14px;
	height: 14px;
}
