.notification {
  --inset: 16px;
  --border-color: var(--wpl-neutral-200);
  --background-color: var(--wpl-neutral-0);

  width: 100%;
  max-width: 272px;
  position: relative;
  background-color: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  white-space: normal;
  overflow: hidden;

  &.dark {
    --border-color: var(--wpl-neutral-500);
    --background-color: var(--wpl-neutral-800);
  }

  @media (--medium-up) {
    max-width: 404px;
  }
}

.closeButton {
  --inset: 16px;

  position: absolute;
  top: var(--inset);
  right: var(--inset);
  z-index: 10;
}

.thumbnail {
  display: flex;
  margin-top: calc(var(--inset) * -1);
  margin-left: calc(var(--inset) * -1);
  margin-right: calc(var(--inset) * -3);
  margin-bottom: var(--inset);
}

.content {
  padding: var(--inset);
  padding-right: calc(var(--inset) * 3);
}

.language {
  --border-color: var(--wpl-neutral-300);

  width: max-content;
  display: flex;
  margin: 0 0 6px;
  padding: 0;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  overflow: hidden;
  filter: drop-shadow(0 1px 1px rgba(101, 106, 118, 0.05))
    drop-shadow(0 2px 2px rgba(101, 106, 118, 0.05));

  @nest .dark & {
    --border-color: var(--wpl-neutral-500);
  }
}

.type {
  --color: var(--wpl-neutral-500);

  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color);

  @nest .dark & {
    --color: var(--wpl-neutral-200);
  }
}

.typeIcon {
  flex-shrink: 0;
  display: flex;
}

.typeName {
  composes: g-type-label-strong from global;
  color: currentColor;
}

.product {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.productIcon {
  flex-shrink: 0;
  display: flex;

  @nest .dark & svg path {
    fill: var(--wpl-neutral-0);
  }
}

.productName {
  --color: var(--wpl-neutral-700);

  composes: g-type-buttons-and-standalone-links from global;
  color: var(--color);

  @nest .dark & {
    color: var(--wpl-neutral-0);
  }
}

.description {
  --color: var(--wpl-neutral-500);

  composes: g-type-body-small from global;
  margin: 0;
  color: var(--color);

  @nest .dark & {
    color: var(--wpl-neutral-300);
  }
}

.cta {
  margin-top: 10px;
}
