.root {
	align-items: flex-start;
	color: var(--token-form-error-color);
	display: flex;
	gap: 8px;
	margin-top: 4px;
}

.icon {
	flex: none; /* prevent shrinking/growing with container */
	height: 14px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 14px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.message {
	composes: hds-typography-body-100 from global;
	composes: hds-font-weight-medium from global;
}
