.productSwitcher {
  position: relative;
}

.switcherButton {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--gray-foreground-tertiary);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  width: 220px;

  &:hover {
    cursor: pointer;
  }

  /* TODO - create variables for these colors */
  &:focus {
    outline: none;
    background: #06142d;
    border: 1px solid var(--blue-vibrant);
    box-shadow: 0 0 0 3px #0c295a;
    border-radius: 4px;
  }
}

.switcherCaret {
  color: white;
  margin-right: 4px;
}

/*
FIXME: box-shadow value is copied from Figma, but it's not rendering in the
browser the same as it does in Figma.
*/
.switcherOptionList {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(101, 106, 118, 0.15),
    0px 2px 3px rgba(101, 106, 118, 0.1),
    0px 8px 16px -10px rgba(101, 106, 118, 0.2);
  list-style: none;
  padding: 16px 0;
  position: absolute;
  margin: 0;
  margin-top: 4px;
  width: 262px;
  z-index: 100;
}

/*
TODO: Discuss with 3px margin with the design team. Designs shows 2px, but this
keeps an active sibling item from overlapping focus styles 
*/
.switcherOption {
  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

/*
Two items to note:
  - transparent border on default is to prevent layout shift on focus
  - both paddings are set to adjust for transparent border
*/
.switcherOptionAnchor {
  align-items: center;
  border: 1px solid transparent;
  color: var(--gray-foreground-primary);
  display: flex;
  padding: 6px 14px;
  position: relative;

  &:hover {
    background-color: #dedfe3;
    text-decoration: none;
  }

  /* TODO - abstract the focus style */
  &:focus {
    outline: none;
    border: 1px solid var(--blue-vibrant);
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #a5c2f3;
    border-radius: 5px;
  }

  &[aria-current='page'] {
    background-color: var(--gray-background-secondary);
  }
}

.switcherOptionContainer {
  display: flex;
  align-items: center;

  /* TODO: is the HashiCorp logo color correct? */
  & svg {
    margin-right: 4px;
  }

  & span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
