/*
***
* classes for the version PageAlert
***
*/

.versionAlert {
	padding-left: var(--main-area-padding-left);
	padding-right: var(--main-area-padding-right);
}

.versionAlertLink {
	color: var(--token-color-foreground-primary) !important;
}
