.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media (--dev-dot-desktop) {
		flex-direction: row;
	}
}

.main {
	background-color: var(--token-color-foreground-high-contrast);
	padding-bottom: 76px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 55px;

	@media (--dev-dot-tablet-up) {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		flex-grow: 1;
	}

	@media (--dev-dot-desktop) {
		width: 45vw;
	}
}

.logo {
	margin-bottom: 16px;
}

.heading {
	color: var(--token-color-foreground-strong);
	margin-bottom: 24px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style: none;
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
}

.listItem {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	color: var(--token-color-foreground-primary);

	& > svg {
		align-self: center;
	}
}

.detailIcon {
	flex-shrink: 0;
}

.signInContainer {
	color: var(--token-color-foreground-primary);
	margin-top: 16px;
	display: flex;
	align-items: center;
}

.signInText {
	/*
	TODO this aligns text with Button text, but this approach will not withstand
	dyanmic font sizes
	*/
	margin-top: 2px;
}

.aside {
	/* composition */
	composes: g-hide-on-mobile from global;

	/* properties */
	background-color: var(--token-color-foreground-strong);
	height: 60vh;
	position: relative;

	@media (--dev-dot-tablet-up) {
		height: 40vh;
	}

	@media (--dev-dot-desktop) {
		height: 100vh;
		width: 55vw;
	}
}

.asideGradient {
	&::before {
		background: radial-gradient(
			42.35% 104.19% at 1.3% 0%,
			rgba(0, 125, 180, 0.65) 0%,
			rgba(128, 64, 201, 0) 76.4%
		);
		content: '';
		height: 100vw;
		opacity: 0.8;
		position: absolute;
		top: 60vh;
		transform-origin: top left;
		transform: rotate(-90deg);
		width: 60vh;

		@media (--dev-dot-tablet-up) {
			top: 40vh;
			width: 40vh;
		}

		@media (--dev-dot-desktop) {
			top: 100vh;
			width: 100vh;
		}
	}
}

.asideGraphicContainer {
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 60vh;

	@media (--dev-dot-tablet-up) {
		height: 40vh;
	}

	@media (--dev-dot-desktop) {
		align-items: center;
		height: 100vh;
	}
}

.asideGraphic {
	overflow: hidden;
	padding-top: 60px;

	@media (--dev-dot-desktop) {
		padding: 0;
	}
}
