.sidebar {
  & ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
}

.nav {
  position: relative;

  /*
  Ensures there is 32px total spacing above the `<nav>` element when nothing is
  rendered above it.
  */
  &:first-child {
    margin-top: 8px;
  }
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}
