.sidebar {
  background-color: white;
  box-shadow: 0 2px 3px rgba(101, 106, 118, 0.1),
    0 12px 28px rgba(101, 106, 118, 0.25);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px;
  position: absolute;
  top: 0;
  width: var(--sidebar-width);

  & ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
}
