.sidebar {
  background-color: white;
  padding: 24px;

  /* TODO: won't use margin-left if we want menu items to take up full width */
  & ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
}
