.sidebar {
  background-color: white;
  box-shadow: 0 8px 12px rgba(37, 38, 45, 0.08);
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: var(--sidebar-padding);
  position: absolute;
  top: 0;
  width: var(--sidebar-width);
}
