/**
 * TODO: should stack on mobile if space is limited
 */
.linkBoxWrapper {
  border-top: 1px solid var(--token-color-border-primary);
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-top: 48px;
  padding-top: 48px;
}
