.root {
	position: relative;
}

.activator {
	width: fit-content;
}

.content {
	padding-top: 4px;
	position: absolute;
	width: fit-content;
	z-index: 1;
}

.list {
	background-color: var(--token-color-surface-primary);
	border-radius: 6px;
	box-shadow: var(--token-surface-high-box-shadow);
	list-style: none;
	margin: 0;
	max-width: 400px;
	min-width: 200px;
	padding: 4px 0;
	width: max-content;
}

.list-position--left {
	& .activator {
		margin-left: 0;
		margin-right: auto;
	}

	& .content {
		left: 0;
	}
}

.list-position--right {
	& .activator {
		margin-left: auto;
		margin-right: 0;
	}

	& .content {
		right: 0;
	}
}
