@custom-media --list-horizontally (min-width: 1280px);

.root {
	--padding: 24px;
	--logo-button-margin-bottom: 8px;

	align-items: center;
	color: var(--token-color-palette-neutral-600);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--padding);
	position: relative;
}

.logo {
	margin: 0 24px var(--logo-button-margin-bottom) 0;
	position: relative;
	border-radius: 6px;

	&:focus,
	&:focus-visible {
		box-shadow: var(--token-focus-ring-action-box-shadow);
		outline: transparent;
	}

	& svg {
		/*
    default inline display results in misalignment with footer links
    */
		display: block;
		height: 28px;
		width: auto;
	}

	@media (--list-horizontally) {
		margin-right: 40px;
		margin-bottom: 0;
	}
}

.feedbackButton {
	margin-bottom: var(--logo-button-margin-bottom);

	/**
	* We render two different buttons depending on the view so that the 
	* focus order can remain aligned with the visual presentation of the 
	* footer links
	*/

	&.mobile {
		@media (--list-horizontally) {
			display: none;
		}
	}

	&.desktop {
		display: none;

		@media (--list-horizontally) {
			display: flex;
		}
	}

	@media (--list-horizontally) {
		margin-bottom: 0;
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	@media (--list-horizontally) {
		margin-top: 0;
		width: auto;
		align-items: center;
	}
}

.linkListItem {
	margin-top: 16px;
	line-height: 0;

	&:not(:last-child) {
		margin-right: var(--padding);
	}

	@media (--list-horizontally) {
		width: auto;
		margin-top: 0;
	}
}

.linkAction {
	background: none;
	border: none;
	color: var(--token-color-foreground-faint);
	border-radius: 6px;
	padding: 1px 2px; /** for focus style space **/

	&:focus,
	&:focus-visible {
		box-shadow: var(--token-focus-ring-action-box-shadow);
		outline: transparent;
	}

	&:hover {
		color: var(--token-color-foreground-strong);
		text-decoration: underline;
	}
}
