.root {
  align-items: center;
  background: var(--token-color-palette-neutral-0);
  border-top: 1px solid var(--token-color-neutral-border-primary);
  color: var(--token-color-palette-neutral-600);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 24px 16px 24px;
  position: relative;

  &.styleForDocsLayout {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;

    /* before element acts as full-width border in docs layout */
    &::before {
      background: var(--token-color-neutral-border-primary);
      content: '\200B';
      height: 1px;
      left: 0;
      left: 50%;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      width: 200vh;
    }
  }
}

.logo {
  position: relative;
  margin-right: 40px;
  margin-bottom: 16px;
}

.links {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* !important needed to prevent list styles from leaking in
     from docs layout content CSS */
  padding: 0 !important;
  margin: 0 !important;

  @media (--medium-up) {
    width: auto;
  }
}

.linkListItem {
  margin: 0 0 16px 0 !important;
  width: 100%;

  &:not(:last-child) {
    margin-right: 32px !important;
  }

  @media (--medium-up) {
    width: auto;
  }
}

.linkAction {
  composes: ds-token-typography-body-base from global;
  background: none;
  border: none;
  padding: 0;
  color: var(--token-color-neutral-foreground-faint);
  transition: color 0.2s;

  &:hover {
    color: var(--token-color-neutral-foreground-primary);
  }
}
