.root {
  padding: 1rem;
  min-height: 160px;
  background: var(--token-color-palette-neutral-700);
  color: var(--token-color-palette-neutral-600);
  display: flex;
  align-items: center;
  justify-content: center;
}
