.root {
  composes: g-focus-ring-from-box-shadow from global;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  width: fit-content;

  &:active {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }

  /*
  Not styling ::before with position: absolute and -5px positions because that
  does not work on links that span more than one line.
  */
  &:focus-visible {
    text-decoration: none;
    margin: -5px;
    padding: 5px;
  }

  & svg {
    flex-shrink: 0;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
  }
}

.color-primary {
  color: var(--token-color-foreground-action);

  &:active {
    color: var(--token-color-foreground-action-active);
  }

  &:hover {
    color: var(--token-color-foreground-action-hover);
  }
}

.color-secondary {
  color: var(--token-color-foreground-strong);

  &:active {
    color: var(--token-color-foreground-primary);
  }
}

.text {
  line-height: 1;
}
