.tabsRoot {
  & :global(.g-tabs) {
    & :global(.g-grid-container),
    & > :global(.g-grid-container) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.h1 {
  color: var(--token-color-neutral-foreground-primary);
  margin-bottom: 12px;
}

.h2 {
  color: var(--token-color-neutral-foreground-primary);
  margin-bottom: 12px;
  margin-top: 48px;
}

.h3 {
  color: var(--token-color-neutral-foreground-primary);
  margin-bottom: 8px;
  margin-top: 32px;
}

.h4,
.h5,
.h6 {
  color: var(--token-color-neutral-foreground-secondary);
  margin-bottom: 8px;
  margin-top: 24px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  & + ul,
  & + ol {
    margin-top: 12px;
  }

  & + p {
    margin-top: 0;
  }

  /*
  TODO: these values are a special request from design for the purposes of the
  inital preview. They make <code> elements within heading elements a little
  less jarring.
  */
  & code {
    font-size: 0.6em;
    font-weight: 500;
  }
}

.p {
  color: var(--token-color-neutral-foreground-secondary);
  margin: 16px 0;
}
