.root {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
}

.icon {
	/* flex-shrink: 0 prevents the icon from shrinking */
	flex-shrink: 0;

	/* display: block removes built-in margin that'd otherwise appear */
	& > svg {
		display: block;
	}
}
