/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

.iconTileLogo {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
		margin-right: 16px;
	}
}

.pageHeaderTitle {
	color: var(--mds-color-foreground-strong);
	margin: 0;
}

.headingWrapper {
	align-items: center;
	display: flex;
	justify-content: center;
}
