.root {
	align-items: center;
	display: flex;
	margin-bottom: 48px;
}

.iconTileLogo {
	display: none;

	@media (--dev-dot-tablet-up) {
		display: block;
		margin-right: 16px;
	}
}

.pageHeaderTitle {
	color: var(--token-color-foreground-strong);
	margin-bottom: 12px;
	margin-top: 0;
}

.pageHeaderSubtitle {
	color: var(--token-color-foreground-primary);
}
