.productChooser {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #656a76;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 8.5px 16px;
  width: 220px;

  &:hover {
    cursor: pointer;
  }

  & .iconAndNameContainer {
    display: flex;
    align-items: center;

    & svg {
      height: 16px;
      width: 16px;
    }

    & p {
      color: white;
      font-size: 16px;
      letter-spacing: -0.5px;
      line-height: 20px;
      margin: 0;
      margin-left: 4px;
    }
  }
}
