.progressIcon {
	width: 12px;
	height: 12px;
}

.iconComplete {
	composes: progressIcon;
	color: var(--token-color-palette-green-200);
}

.iconInProgress {
	composes: progressIcon;

	/**
	TODO: in design spec this is --token-color-foreground-action,
	which is the same hex value (#1060ff). Very minor nitpick, but need to
	check whether use of action was intentional, or whether use of palette-blue
	would be more semantically correct (since this icon is not interactive.
	*/
	color: var(--token-color-palette-blue-200);
}
