/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	/* Composition */
	composes: g-focus-ring-from-box-shadow from global;

	/* CSS Properties */
	border-radius: 5px;
	display: block;
	padding: 8px;
	text-decoration: none;
	width: 100%;

	&:hover {
		text-decoration: underline;
	}
}
