/*
 * Temporary solution until all products move over to use
 * the NextSteps WPL component.
 */

.nextSteps {
	--margin-top: -60px;

	margin-top: var(--margin-top);

	@media (--medium-up) {
		--margin-top: -120px;
	}
}
