.root {
	width: 100%;

	@media (--medium-up) {
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.dropdownList {
	width: 100%;

	& > button {
		width: 100%;
		justify-content: space-between;
	}

	@media (--medium-up) {
		width: fit-content;

		& > button {
			width: fit-content;
			justify-content: center;
		}
	}

	& ul {
		max-height: 234px;
		overflow: scroll;

		& li:first-child span {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		& a:active,
		& a:focus {
			background: var(--token-color-surface-action);
		}
	}
}
