.docsVersionSwitcher {
	@media (--dev-dot-mobile) {
		/* Make trigger button and dropdown list full width on mobile */
		width: 100%;

		& button {
			width: 100%;
			justify-content: space-between;
		}

		& > div {
			width: 100%;
		}

		& ul {
			width: 100%;
			max-width: 100%;
		}
	}

	& ul {
		max-height: 234px;
		overflow: auto;

		& li:first-child span {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		& a:active,
		& a:focus {
			background: var(--token-color-surface-action);
		}
	}
}
