.merchandisingSlots {
  padding-top: var(--homepage-section-padding-y);
  padding-bottom: var(--homepage-section-padding-y);
}

.container {
  --grid-template-columns: 1;

  width: var(--homepage-container-width);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-template-columns), 1fr);
  gap: var(--homepage-grid-gap);

  @media (--dev-dot-tablet-up) {
    --grid-template-columns: 2;
  }

  & > * {
    display: flex;
  }
}
