.root {
	color: white;
	display: flex;
	justify-content: center;
	padding: 196px 24px 32px 24px;
	border-radius: 6px;
	background-color: black;
	background-image: url('./img/newsletter-background.png');
	background-repeat: no-repeat;
	background-size: auto 300px;
	background-position: top -116px right -100px;

	@media (min-width: 768px) {
		justify-content: flex-start;
		background-size: cover;
		background-position: center;
		padding: 36px 48px;
	}
}

.form {
	max-width: 510px;
}
