.sidebarMenuItem {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & a {
    color: var(--gray-foreground-tertiary);
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;

    &:hover {
      background-color: var(--gray-background-secondary);
      color: var(--gray-foreground-primary);
      cursor: pointer;
    }

    /* TODO: design is still working on this active state */
    &[aria-current='page'] {
      background-color: #dedfe3;
      color: var(--gray-foreground-primary);
    }
  }
}
