{
	"swagger": "2.0",
	"info": {
		"title": "HashiCorp Cloud Platform Vault Secrets Service",
		"description": "API for managing Secrets on Cloud Services.",
		"version": "2023-06-13"
	},
	"tags": [
		{
			"name": "SecretService"
		}
	],
	"host": "api.cloud.hashicorp.com",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"paths": {
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps": {
			"get": {
				"operationId": "ListApps",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ListAppsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"post": {
				"operationId": "CreateApp",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613CreateAppResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"description": {
									"type": "string"
								},
								"sync_integrations": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/kv": {
			"post": {
				"operationId": "CreateAppKVSecret",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613CreateAppKVSecretResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"value": {
									"type": "string"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/open": {
			"get": {
				"operationId": "OpenAppSecrets",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613OpenAppSecretsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/open/{secret_name}": {
			"get": {
				"operationId": "OpenAppSecret",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613OpenAppSecretResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/open/{secret_name}/versions": {
			"get": {
				"operationId": "ListOpenAppSecretVersions",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ListOpenAppSecretVersionsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/open/{secret_name}/versions/{version}": {
			"get": {
				"operationId": "OpenAppSecretVersion",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613OpenAppSecretVersionResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "version",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "int64"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/secrets": {
			"get": {
				"operationId": "ListAppSecrets",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ListAppSecretsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/secrets/{secret_name}": {
			"get": {
				"operationId": "GetAppSecret",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613GetAppSecretResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"delete": {
				"operationId": "DeleteAppSecret",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613DeleteAppSecretResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/secrets/{secret_name}/versions": {
			"get": {
				"operationId": "ListAppSecretVersions",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ListAppSecretVersionsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{app_name}/secrets/{secret_name}/versions/{version}": {
			"get": {
				"operationId": "GetAppSecretVersion",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613GetAppSecretVersionResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "app_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "secret_name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "version",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "int64"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/apps/{name}": {
			"get": {
				"operationId": "GetApp",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613GetAppResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"delete": {
				"operationId": "DeleteApp",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613DeleteAppResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"patch": {
				"operationId": "UpdateApp",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpdateAppResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"description": {
									"type": "string"
								},
								"sync_integrations": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/aws-sm": {
			"post": {
				"operationId": "CreateAwsSmSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613CreateSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"aws_sm_connection_details": {
									"$ref": "#/definitions/secrets_20230613AwsSmConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			},
			"put": {
				"operationId": "UpsertAwsSmSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpsertSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"aws_sm_connection_details": {
									"$ref": "#/definitions/secrets_20230613AwsSmConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/aws-sm/{name}": {
			"patch": {
				"operationId": "UpdateAwsSmSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpdateSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"aws_sm_connection_details": {
									"$ref": "#/definitions/secrets_20230613AwsSmConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/force": {
			"post": {
				"operationId": "ForceSync",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ForceSyncResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"app_name": {
									"type": "string"
								},
								"sync_integration_name": {
									"type": "string"
								},
								"operation": {
									"$ref": "#/definitions/ForceSyncRequestOPERATION"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/gh-repo": {
			"post": {
				"operationId": "CreateGhRepoSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613CreateSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"gh_repo_connection_details": {
									"$ref": "#/definitions/secrets_20230613GhRepoConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			},
			"put": {
				"operationId": "UpsertGhRepoSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpsertSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"gh_repo_connection_details": {
									"$ref": "#/definitions/secrets_20230613GhRepoConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/gh-repo/{name}": {
			"patch": {
				"operationId": "UpdateGhRepoSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpdateSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"gh_repo_connection_details": {
									"$ref": "#/definitions/secrets_20230613GhRepoConnectionDetailsRequest"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/installations": {
			"put": {
				"operationId": "UpsertSyncInstallation",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613UpsertSyncInstallationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"location": {
									"type": "object",
									"properties": {
										"region": {
											"$ref": "#/definitions/locationRegion"
										}
									},
									"description": "Location represents a target for an operation in HCP."
								},
								"name": {
									"type": "string"
								},
								"aws_external_id": {
									"type": "string"
								},
								"gh_installation_id": {
									"type": "string",
									"format": "int64"
								}
							}
						}
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/installations/{name}": {
			"get": {
				"operationId": "GetSyncInstallation",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613GetSyncInstallationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"delete": {
				"operationId": "DeleteSyncInstallation",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613DeleteSyncInstallationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/integrations": {
			"get": {
				"summary": "Write operations use type-specific endpoints to avoid overloads, but the read endpoints are generic and the specific type is part of the responses",
				"operationId": "ListSyncIntegrations",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613ListSyncIntegrationsResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		},
		"/secrets/2023-06-13/organizations/{location.organization_id}/projects/{location.project_id}/sync/integrations/{name}": {
			"get": {
				"operationId": "GetSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613GetSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			},
			"delete": {
				"operationId": "DeleteSyncIntegration",
				"responses": {
					"200": {
						"description": "A successful response.",
						"schema": {
							"$ref": "#/definitions/secrets_20230613DeleteSyncIntegrationResponse"
						}
					},
					"default": {
						"description": "An unexpected error response.",
						"schema": {
							"$ref": "#/definitions/rpcStatus"
						}
					}
				},
				"parameters": [
					{
						"name": "location.organization_id",
						"description": "organization_id is the id of the organization.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.project_id",
						"description": "project_id is the projects id.",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "location.region.provider",
						"description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "location.region.region",
						"description": "region is the cloud region (\"us-west1\", \"us-east1\")",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"tags": ["SecretService"]
			}
		}
	},
	"definitions": {
		"ForceSyncRequestOPERATION": {
			"type": "string",
			"enum": ["UPLOAD", "PURGE"],
			"default": "UPLOAD"
		},
		"cloudlocationLocation": {
			"type": "object",
			"properties": {
				"organization_id": {
					"type": "string",
					"description": "organization_id is the id of the organization."
				},
				"project_id": {
					"type": "string",
					"description": "project_id is the projects id."
				},
				"region": {
					"$ref": "#/definitions/locationRegion"
				}
			},
			"description": "Location represents a target for an operation in HCP."
		},
		"locationRegion": {
			"type": "object",
			"properties": {
				"provider": {
					"type": "string",
					"title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
				},
				"region": {
					"type": "string",
					"title": "region is the cloud region (\"us-west1\", \"us-east1\")"
				}
			},
			"description": "Region identifies a Cloud data-plane region."
		},
		"protobufAny": {
			"type": "object",
			"properties": {
				"@type": {
					"type": "string"
				}
			},
			"additionalProperties": {}
		},
		"rpcStatus": {
			"type": "object",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32"
				},
				"message": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/protobufAny"
					}
				}
			}
		},
		"secrets_20230613App": {
			"type": "object",
			"properties": {
				"location": {
					"$ref": "#/definitions/cloudlocationLocation"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"updated_at": {
					"type": "string",
					"format": "date-time"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"updated_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"sync_integrations": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"secrets_20230613AwsAssumeRoleMetadata": {
			"type": "object",
			"properties": {
				"external_id": {
					"type": "string"
				}
			}
		},
		"secrets_20230613AwsSmConnectionDetailsRequest": {
			"type": "object",
			"properties": {
				"access_key_id": {
					"type": "string"
				},
				"secret_access_key": {
					"type": "string"
				},
				"region": {
					"type": "string"
				},
				"role_arn": {
					"type": "string"
				},
				"external_id": {
					"type": "string"
				}
			}
		},
		"secrets_20230613AwsSmConnectionDetailsResponse": {
			"type": "object",
			"properties": {
				"region": {
					"type": "string"
				},
				"role_arn": {
					"type": "string"
				},
				"external_id": {
					"type": "string"
				}
			}
		},
		"secrets_20230613CreateAppKVSecretResponse": {
			"type": "object",
			"properties": {
				"secret": {
					"$ref": "#/definitions/secrets_20230613Secret"
				}
			}
		},
		"secrets_20230613CreateAppResponse": {
			"type": "object",
			"properties": {
				"app": {
					"$ref": "#/definitions/secrets_20230613App"
				}
			}
		},
		"secrets_20230613CreateSyncIntegrationResponse": {
			"type": "object",
			"properties": {
				"sync_integration": {
					"$ref": "#/definitions/secrets_20230613SyncIntegration"
				}
			}
		},
		"secrets_20230613DeleteAppResponse": {
			"type": "object"
		},
		"secrets_20230613DeleteAppSecretResponse": {
			"type": "object"
		},
		"secrets_20230613DeleteSyncInstallationResponse": {
			"type": "object"
		},
		"secrets_20230613DeleteSyncIntegrationResponse": {
			"type": "object"
		},
		"secrets_20230613ForceSyncResponse": {
			"type": "object"
		},
		"secrets_20230613GetAppResponse": {
			"type": "object",
			"properties": {
				"app": {
					"$ref": "#/definitions/secrets_20230613App"
				}
			}
		},
		"secrets_20230613GetAppSecretResponse": {
			"type": "object",
			"properties": {
				"secret": {
					"$ref": "#/definitions/secrets_20230613Secret"
				}
			}
		},
		"secrets_20230613GetAppSecretVersionResponse": {
			"type": "object",
			"properties": {
				"version": {
					"$ref": "#/definitions/secrets_20230613SecretVersion"
				}
			}
		},
		"secrets_20230613GetSyncInstallationResponse": {
			"type": "object",
			"properties": {
				"sync_installation": {
					"$ref": "#/definitions/secrets_20230613SyncInstallation"
				}
			}
		},
		"secrets_20230613GetSyncIntegrationResponse": {
			"type": "object",
			"properties": {
				"sync_integration": {
					"$ref": "#/definitions/secrets_20230613SyncIntegration"
				}
			}
		},
		"secrets_20230613GhAppMetadata": {
			"type": "object",
			"properties": {
				"installation_id": {
					"type": "string",
					"format": "int64"
				},
				"owner": {
					"type": "string"
				},
				"repositories": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"secrets_20230613GhRepoConnectionDetailsRequest": {
			"type": "object",
			"properties": {
				"token": {
					"type": "string"
				},
				"owner": {
					"type": "string"
				},
				"repository": {
					"type": "string"
				},
				"installation_id": {
					"type": "string",
					"format": "int64"
				}
			}
		},
		"secrets_20230613GhRepoConnectionDetailsResponse": {
			"type": "object",
			"properties": {
				"owner": {
					"type": "string"
				},
				"repository": {
					"type": "string"
				},
				"installation_id": {
					"type": "string",
					"format": "int64"
				}
			}
		},
		"secrets_20230613ListAppSecretVersionsResponse": {
			"type": "object",
			"properties": {
				"versions": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613SecretVersion"
					}
				}
			}
		},
		"secrets_20230613ListAppSecretsResponse": {
			"type": "object",
			"properties": {
				"secrets": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613Secret"
					}
				}
			}
		},
		"secrets_20230613ListAppsResponse": {
			"type": "object",
			"properties": {
				"apps": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613App"
					}
				}
			}
		},
		"secrets_20230613ListOpenAppSecretVersionsResponse": {
			"type": "object",
			"properties": {
				"versions": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613OpenSecretVersion"
					}
				}
			}
		},
		"secrets_20230613ListSyncIntegrationsResponse": {
			"type": "object",
			"properties": {
				"sync_integrations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613SyncIntegration"
					}
				}
			}
		},
		"secrets_20230613OpenAppSecretResponse": {
			"type": "object",
			"properties": {
				"secret": {
					"$ref": "#/definitions/secrets_20230613OpenSecret"
				}
			}
		},
		"secrets_20230613OpenAppSecretVersionResponse": {
			"type": "object",
			"properties": {
				"version": {
					"$ref": "#/definitions/secrets_20230613OpenSecretVersion"
				}
			}
		},
		"secrets_20230613OpenAppSecretsResponse": {
			"type": "object",
			"properties": {
				"secrets": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/secrets_20230613OpenSecret"
					}
				}
			}
		},
		"secrets_20230613OpenSecret": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"version": {
					"$ref": "#/definitions/secrets_20230613OpenSecretVersion"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"latest_version": {
					"type": "string",
					"format": "int64"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"sync_status": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/secrets_20230613SyncStatus"
					}
				}
			}
		},
		"secrets_20230613OpenSecretVersion": {
			"type": "object",
			"properties": {
				"version": {
					"type": "string",
					"format": "int64"
				},
				"type": {
					"type": "string"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"value": {
					"type": "string"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				}
			}
		},
		"secrets_20230613Principal": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string"
				},
				"email": {
					"type": "string"
				}
			},
			"title": "Information about the principal who created or updated the resource"
		},
		"secrets_20230613Secret": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"version": {
					"$ref": "#/definitions/secrets_20230613SecretVersion"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"latest_version": {
					"type": "string",
					"format": "int64"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"sync_status": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/secrets_20230613SyncStatus"
					}
				}
			}
		},
		"secrets_20230613SecretVersion": {
			"type": "object",
			"properties": {
				"version": {
					"type": "string",
					"format": "int64"
				},
				"type": {
					"type": "string"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				}
			}
		},
		"secrets_20230613SyncInstallation": {
			"type": "object",
			"properties": {
				"location": {
					"$ref": "#/definitions/cloudlocationLocation"
				},
				"name": {
					"type": "string"
				},
				"aws_assume_role": {
					"$ref": "#/definitions/secrets_20230613AwsAssumeRoleMetadata"
				},
				"gh_app": {
					"$ref": "#/definitions/secrets_20230613GhAppMetadata"
				}
			}
		},
		"secrets_20230613SyncIntegration": {
			"type": "object",
			"properties": {
				"location": {
					"$ref": "#/definitions/cloudlocationLocation"
				},
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string"
				},
				"created_at": {
					"type": "string",
					"format": "date-time"
				},
				"updated_at": {
					"type": "string",
					"format": "date-time"
				},
				"created_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"updated_by": {
					"$ref": "#/definitions/secrets_20230613Principal"
				},
				"aws_sm_connection_details": {
					"$ref": "#/definitions/secrets_20230613AwsSmConnectionDetailsResponse"
				},
				"gh_repo_connection_details": {
					"$ref": "#/definitions/secrets_20230613GhRepoConnectionDetailsResponse"
				}
			}
		},
		"secrets_20230613SyncStatus": {
			"type": "object",
			"properties": {
				"status": {
					"type": "string"
				},
				"updated_at": {
					"type": "string",
					"format": "date-time"
				},
				"last_error_code": {
					"type": "string"
				}
			}
		},
		"secrets_20230613UpdateAppResponse": {
			"type": "object",
			"properties": {
				"app": {
					"$ref": "#/definitions/secrets_20230613App"
				}
			}
		},
		"secrets_20230613UpdateSyncIntegrationResponse": {
			"type": "object",
			"properties": {
				"sync_integration": {
					"$ref": "#/definitions/secrets_20230613SyncIntegration"
				}
			}
		},
		"secrets_20230613UpsertSyncInstallationResponse": {
			"type": "object",
			"properties": {
				"sync_installation": {
					"$ref": "#/definitions/secrets_20230613SyncInstallation"
				}
			}
		},
		"secrets_20230613UpsertSyncIntegrationResponse": {
			"type": "object",
			"properties": {
				"sync_integration": {
					"$ref": "#/definitions/secrets_20230613SyncIntegration"
				}
			}
		}
	},
	"securityDefinitions": {
		"bearer": {
			"type": "apiKey",
			"description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
			"name": "Authorization",
			"in": "header"
		}
	},
	"security": [
		{
			"bearer": []
		}
	]
}
