.root {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 48px;

	@media (--dev-dot-mobile) {
		gap: 16px;
	}
}

.previousButton,
.nextButton {
	@media (--dev-dot-mobile) {
		flex-grow: 1;
		display: flex;

		& > * {
			width: 100%;
		}
	}
}

.pageInformation {
	color: var(--token-color-foreground-primary);
}
