/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.twoColumnLayout {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;

	@media (--large) {
		grid-template-columns: 1fr 1fr;
	}
}
