.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'heading icon'
    'subheading icon';
}

.exitIcon {
  grid-area: icon;
  color: var(--token-color-foreground-faint);
  margin: 4px 2px;
  appearance: none;
  background: unset;
  border: unset;
  padding: 0;
  height: min-content;

  &:hover {
    cursor: pointer;
  }
}

.heading {
  composes: hds-typography-body-300 hds-font-weight-semibold from global;
  color: var(--token-color-foreground-strong);
  margin-bottom: 4px;
  margin-top: 2px;
  grid-area: heading;
}

.subheading {
  color: var(--token-color-foreground-primary);
  margin-bottom: 16px;
  grid-area: subheading;
}

.feedback {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.ctaButtons {
  display: flex;

  & > :first-child {
    margin-right: 16px;
  }
}

.select {
  /** Reset styles **/
  appearance: none;
  margin: 0;
  width: 100%;
  cursor: inherit;
  margin-bottom: 16px;
  color: var(--token-color-foreground-primary);
  background: url('~@hashicorp/flight-icons/svg/chevron-down-16.svg') no-repeat;
  background-position: calc(100% - 15px) center;
  background-color: var(--token-color-surface-faint);
  border: 1px solid var(--token-color-border-strong);
  border-radius: 5px;
  padding: 10px 16px;

  /** Do we have a button / medium class? */
  composes: hds-font-weight-medium from global;
  font-size: 0.875rem;
  line-height: 1rem;
  box-shadow: var(--token-elevation-low-box-shadow);
  position: relative;
}

.optionalText {
  composes: hds-typography-body-200 hds-font-weight-regular from global;
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: 5px;
  color: var(--token-color-foreground-primary);
  padding: 12px;
  box-shadow: var(--token-surface-base-box-shadow);
  border: unset;
  resize: none;

  &::placeholder {
    color: var(--token-color-foreground-faint);
    opacity: 100%;
  }
}
