/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.readmeView {
	& > :first-child {
		margin-top: 0;
	}
}

.sidecarContents {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
