/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.hcpLogo {
	& svg {
		display: block;
		height: 28px;
		width: auto;

		/** For theming, paths need to have a token fill **/
		& path {
			fill: var(--mds-color-foreground-strong);
		}
	}
}
