/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.heading {
	composes: hds-typography-display-200 from global;
	font-weight: var(--token-typography-font-weight-semibold);
	color: var(--mds-color-foreground-strong);
}

.cards {
	margin-top: 16px;
}
