.inlineCallout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  gap: 16px 32px;
  background-color: var(--brand-secondary);
  color: var(--gray-2);
  border-radius: 6px;

  @media (--medium-up) {
    flex-direction: row-reverse;
  }
}

.heading {
  composes: g-type-display-4 from global;
  margin: 0;
}

.description {
  composes: g-type-body from global;
  margin: 16px 0;
}

.cta {
  composes: g-type-buttons-and-standalone-links from global;
  display: flex;
  align-items: center;
  gap: 12px;

  & svg {
    transition: 0.2s;
    margin-bottom: -2px;

    @nest .inlineCallout:hover & {
      transform: translate(2px);
    }
  }
}

.media {
  flex-shrink: 0;

  @media (--medium-up) {
    max-width: calc(100% * 1 / 3);
  }
}

.content {
  max-width: 525px;
}
