/**
Unfortunately, these `!important` are necessary to keep styles from #48 from leaking in. Using MDX custom components to implement styling for docs content may provide a path forward to make these `!important` unnecessary.
*/
.h0 {
  margin: 48px 0 24px 0;
}

.h1 {
  margin: 48px 0 24px 0;
}

.h2 {
  margin: 48px 0 16px 0;
}

.h3 {
  margin: 40px 0 16px 0;
}

.h4 {
  margin: 32px 0 16px 0;
}
