.root {
  overflow: hidden;
  margin-bottom: 48px;
  margin-top: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.iconSection {
  display: block;
  flex: 0 0 auto;
  margin: 8px;

  & svg {
    display: block;
    height: auto;
    width: 96px;
  }
}

.textSection {
  flex: 1 1 0;
  margin: 8px;
  min-width: 400px;
}

.heading {
  margin-bottom: 4px;
}

.text {
  composes: hds-typography-body-200 from global;
  composes: hds-font-weight-regular from global;
  color: var(--token-color-neutral-foreground-faint);
  margin-bottom: 8px;
}

/*
NOTE: sets `width: fit-content` so the link does not take up all of the
available width and have a very wide target.
*/
.link {
  composes: hds-typography-body-200 from global;
  composes: hds-font-weight-medium from global;
  align-items: center;
  color: var(--token-color-palette-blue-200);
  display: flex;
  transition: color 0.2s;
  width: fit-content;

  & svg {
    display: block;
    margin-left: 8px;
    position: relative;
    top: 1px;
  }

  &:hover {
    color: var(--token-color-palette-blue-400);
  }
}
