.root {
  background-color: white;
  box-shadow: var(--token-surface-base-box-shadow);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin: 24px auto;

  &.noMargin {
    margin: 0;
  }

  &.noBorder {
    box-shadow: none;
    border-radius: 0;
  }

  &.inline {
    display: inline-flex;
  }

  & img {
    display: block;
    max-width: 100%;
    margin: 0;
  }
}
