.root {
  /* Mobile and tablet breakpoints */
  --mobile-width-breakpoint: 728px;
  --tablet-width-breakpoint: 1000px;

  /* Font overwrites */
  --font-body: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-display: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-monospace: ui-monospace, menlo, consolas, ubuntu mono, monospace;

  /* Custom properties are calculated before they're inherited, so the
  font-family: var(--font-body) we set on our `body` element needs to be
  re-declared here, so that our "system-ui" font stack cascades as expected. */
  font-family: var(--font-body);

  /* TODO: not sure where else to put this yet */
  & button {
    font-family: var(--font-body);

    &:hover {
      cursor: pointer;
    }
  }
}
