.sidebarNavMenuItem {
  composes: focus-border-and-box-shadow-light from global;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  color: var(--token-color-palette-neutral-500);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 18px;
  padding: 8px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 0;

  &:focus {
    z-index: 1;
  }

  &:hover {
    background-color: var(--token-color-palette-neutral-100);
    color: var(--token-color-palette-neutral-700);
    cursor: pointer;
  }

  & span:first-child {
    margin-right: 8px;
    width: 100%;
  }

  &[aria-current='page'] {
    background-color: #dedfe3;
  }

  /* TODO: font-weight will be set by a token */
  &[aria-expanded='true'],
  &[aria-current='page'] {
    color: var(--token-color-palette-neutral-700);
    font-weight: bold;
  }

  &[aria-expanded='true'] {
    & svg {
      transform: rotate(90deg);
    }
  }
}
