/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	align-items: center;
	display: flex;
	width: 100%;
	height: 200px;
	position: relative;
}

.image {
	object-position: center;
	object-fit: contain;
}
