.NavigationHeader {
  background-color: #232529;
  color: white;
  height: 80px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;

  & nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.HeaderLeft,
.HeaderRight {
  align-items: center;
  display: flex;
}

.SiteLogo {
  height: 40px;
  margin-right: 12px;
  width: 40px;
}

.NavLinks {
  align-items: center;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 56px;
  margin-top: 0;

  & li {
    padding: 8px 12px;

    & a {
      color: #a7aab4;
      font-size: 14px;
      line-height: 16px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.SearchInput {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #656a76;
  display: flex;
  height: 34px;
  padding: 8px 9px;
  width: 212px;

  & img {
    height: 16px;
    margin-right: 8px;
    width: 16px;
  }

  & p {
    font-size: 14px;
    letter-spacing: -0.005em;
    line-height: 18px;
    margin: 0;
  }
}
