.labelRoot {
	margin-bottom: 24px;
}

.label {
	margin-bottom: 8px;
	color: var(--token-color-foreground-primary);
}

.dropdownDisclosure {
	/** 
	* 🏴‍☠️ FLAG
	* Reaching into the component here to
	* override styles. This would be better to
	* update the actual dropdown disclosure list width, which
	* is currently set to `max-content`.
	*/
	& ul {
		width: fit-content;
	}
}

.dropdownActivator {
	text-align: left;
}
