/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	margin-top: 4px;
}

.text {
	/* composition */
	composes: hds-typography-body-200 from global;
	composes: hds-font-weight-regular from global;

	/* properties */
	color: var(--mds-color-foreground-faint);
}
