.root {
	margin-top: 4px;
}

.text {
	/* composition */
	composes: hds-typography-body-100 from global;
	composes: hds-font-weight-regular from global;

	/* properties */
	color: var(--token-color-foreground-faint);
}
