.codeBlock {
	flex: 1 1 0;
	min-width: 0;

	/* Force line wrapping in code block.
	   TODO: move these styles to @hashicorp/react-code-block.
		 Will introduce new options.wrapCode prop, which allows lines to wrap
		 rather than overflow. */
	& [class*='style_linesWrapper'] {
		width: 100% !important;
	}

	& [class*='style_LineOfCode'] {
		white-space: pre-wrap;
		overflow-wrap: break-word;
		min-width: 0;
	}
}
