/* *
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
	display: flex;
	padding: 16px;
	justify-content: space-between;
}

.contentHeading {
	color: var(--mds-color-foreground-strong);
}

.contentSubheading {
	color: var(--mds-color-foreground-faint);
	margin-top: 4px;
}
