.sidebarMenuItem {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & a {
    color: #656a76;
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;

    &:hover {
      background-color: #f1f2f3;
      color: #0c0c0e;
      cursor: pointer;
    }
  }
}
