.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;
  min-height: 50vh;
  padding-inline: 32px;
  text-align: center;
}

.heading {
  color: magenta;
}

.body {
  color: magenta;
}
