.editLink {
  align-items: center;
  /* --token-color-palette-blue-200 aka --token-color-action-foreground-primary */
  color: var(--token-color-palette-blue-200);
  cursor: pointer;
  display: flex;
  width: fit-content;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
}

.editLinkIcon {
  display: block;
  margin-right: 8px;
}
