.editLink {
  align-items: center;
  color: var(--blue-vibrant);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  justify-content: flex-end;
  margin-top: 24px;
  text-decoration: underline;
}

.editLinkIcon {
  display: block;
  padding-right: 8px;
}
