.root {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.text {
	/* composition */
	composes: hds-typography-body-100 from global;
	composes: hds-font-weight-medium from global;

	/* properties */
	color: var(--token-color-foreground-faint);
}
