.root {
	display: flex;
	flex-direction: column;
	gap: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem {
	border-radius: 5px;
	display: block;
	padding: 8px;
	width: 100%;

	&:hover {
		background-color: var(--token-color-surface-strong);
		box-shadow: var(--token-surface-base-box-shadow);
		cursor: pointer;
	}
}

.titleRow {
	align-items: center;
	display: flex;
	gap: 8px;
}

.titleText,
.descriptionText {
	color: var(--token-color-foreground-primary);
	display: block;
}
