name: PR Guidelines Comment

on:
  pull_request:
    types:
      - opened

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Comment about PR review guidelines'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ github.event.pull_request.html_url }}
        run: |
          current_pr_body=$(gh pr view $PR --json body --template {{.body}})
          new_pr_body="$current_pr_body\n\n---\n\n$(cat .github/workflows/pr_guidelines_comment_body.txt)"
          gh pr edit $PR --body $new_pr_body
