.backToLink {
  align-items: center;
  color: #3b3d45;
  display: flex;
  margin-bottom: var(--sidebar-padding);
  width: fit-content;

  & .icon {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
