.root {
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.iconSection {
  display: block;
  flex: 0 0 auto;
  margin: 12px;

  & svg {
    display: block;
    height: auto;
    width: 96px;
  }
}

.textSection {
  flex: 1 1 0;
  margin: 12px;
  min-width: 400px;
}

.heading {
  composes: ds-token-typography-heading-3 from global;
  color: var(--token-color-palette-neutral-700);
  /**
    * NOTE: !important is necessary here, as higher specificity styles
    * are bleeding in from docs layout styles. One path to resolve this
    * might be to use MDX custom components, rather than raw-element-targeting styles,
    * in order to styles docs contents
    **/
  margin: 0 !important;
}

.text {
  composes: ds-token-typography-body-base from global;
  color: var(--token-color-palette-neutral-500);
  margin: 4px 0 8px 0;
}

.link {
  composes: ds-token-typography-body-base from global;
  align-items: center;
  color: var(--token-color-action-foreground-primary);
  display: flex;
  font-weight: var(--ds-token-font-weight-medium);

  & svg {
    display: block;
    margin-left: 8px;
    position: relative;
    top: 1px;
  }
}
